// 各顏色名稱
$priveColor: rgb(255, 0, 0);

$white: #F0F0F0;
$black: #111111;
$purple:#D115B1;
$blue: #5B13EC;
$blueO: rgba(91, 19, 236, 40%);  //blueOpacity
 

$gray: #5e5e5e;

$turquoise: #0DF2F2;

$inputB: rgba(13, 242, 242, 88%);  // input Border
$inputBG: rgba(217, 217, 217, 60%); // input Background
$inputCBG: rgba(13, 242, 242, 66%)// input Checked Background 


// bgcolor??