// 各顏色名稱
$priveColor: rgb(255, 0, 0);

$white: #F0F0F0;
$black: #111111; //for text
$blackBG: #0e0e0e; //for BackGround
$purple:#D115B1;
$purpleO:rgba(209, 21, 177, 50%);
$blue: #5B13EC;
$blueMem: #01C1FD;
$blueO: rgba(91, 19, 236, 40%);  //blueOpacity
 

$gray: #5e5e5e;
$blueL: #0DF2F2; //blueLike

$inputB: rgba(13, 242, 242, 88%);  // input Border
$inputBG: rgba(217, 217, 217, 60%); // input Background
$inputCBG: rgba(13, 242, 242, 66%)// input Checked Background 