$title: 64px;
$titleS: 36px; //title second 副標
$c1: 20px;//  content1
$c1: 16px;//  content2

//RWD的尺寸
$rt: 32px;
$rts: 20px;
$rc1: 16px;
$rc2: 14px;//  不知道多少

$normal: 400;
$bold: 600;

// <style>
//   @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Oswald:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
// </style>
// font-family: 'Noto Serif JP', serif;
// font-family: 'Noto Serif TC', serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Roboto Mono', monospace;