<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /chd103/g3/planet_voyager/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /chd103/g3/planet_voyager/index.html [L]
</IfModule>