body {
    background-color: black;
}

main {
    margin-top: 10%
}

$gap: 10px;

.plant-rwd-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;

}

.plant-rwd-group {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: calc($gap * -1);
    margin-right: calc($gap * -1);
}

p {
    color: $white;
}

.h1-back {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: 
    linear-gradient(to top, rgba(0,0,0,0.3), transparent),
    url('~@/assets/image/destination/destination-back.svg');
    mask-image: linear-gradient(to top, transparent, black);
    background-size: cover;
    z-index: -2;
    
}
.h1-back img{
    width: 99%;
    z-index: -5;
    opacity: 0;
}

h1 {
    font-size: $h1-s;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15% 0 30%;
}
.h1-ch{
    letter-spacing: 0.5rem;
}
.h1-en {
    margin-top: 1rem;
    font-weight: bolder;
}

.section-title {
    margin-bottom: 20%;
}
//h2 

.button-icon {
    width: 1.5rem;
}

.tab-ul {
    position: relative;
    margin: 0 1.5rem;

    &::before {
        content: ""; //繪製直線
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: $gray;
    }

}

.tab-li {
    padding-top: 2rem;
    padding-bottom: 2rem;

    // width: 50%;
    &:first-child {
        padding-top: 4rem;
    }

    &:last-child {
        padding-bottom: 4rem;
    }
}

$buttonLeft: 2rem;
$circle: 1.3rem;
$circleborder: 1.8rem;

.planet-button {
    background-color: transparent;
    margin-left: $buttonLeft;
    border: 0;
    color: $gray;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
        //圓點
        content: "";
        position: absolute;
        left: calc(($circle/2 + $buttonLeft) * -1);
        top: 0;
        bottom: 0;
        width: $circle;
        height: $circle;
        border-radius: 50%;
        background-color: $gray;
    }
}

.active button {
    color: $white;

    &::after {
        background-color: $purple;
        filter: blur($circle/4);
        //filter模糊效果 blur(模糊半徑)
    }

    &::before {
        content: "";
        position: absolute;
        left: calc(($circleborder/2 + $buttonLeft) * -1);
        top: calc((#{$circleborder} - #{$circle}) / 2 * -1);
        ;
        bottom: 0;
        width: $circleborder;
        height: $circleborder;
        border-radius: 50%;
        border: 1px dashed $white;
        z-index: -1;
    }
}

.planet-info {
    margin-left: 1.5rem;
}

h3 {
    color: $white;
    font-size: $h2-s;
}

.planet-img-group {
    padding: 2%;
    box-sizing: border-box;
}

.planet-h3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10% auto;
    padding: 0.5rem 0;
    align-items: center;
    border: 1px solid $white;
    position: relative;
}

.h3-ch {
    width: 80%;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid $white ;
}

.h3-en {
    width: 80%;
    text-align: center;
    padding: 0.5rem 0;
}

.h3-dec1 {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    top: -0.15rem;
    left: -0.15rem;
}

.h3-dec2 {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    bottom: -0.15rem;
    left: -0.15rem;
}

.h3-dec3 {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    bottom: -0.15rem;
    right: -0.15rem;
}

.h3-dec4 {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    top: -0.15rem;
    right: -0.15rem;
}

.planet-text {
    padding: 0 4%;

    h3 {
        display: none;
    }
}

.card-planet {
    width: 90%;
    margin: 0 auto;
    padding-top: 90%;
    /* 使容器保持正方形，並使其高度等於其寬度 */
    position: relative;
}

/* 大氣層的樣式，使用box-shadow來產生特定的陰影效果。
使用radial-gradient來模擬由中心向外的透明度變化，並且使其呈圓形。*/
.planet-atmosphere {
    box-shadow:
        -5px 0px 10px -4px #999999,
        /* 白色亮外框 */
        inset 10px 0px 12px -2px rgba(255, 255, 255, .3),
        /* 白色亮內框 */
        inset -50px 0px 50px 0px rgb(31, 30, 30);
    /*星球右側陰影*/
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(circle at 30% 50%, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, 0) 65%);
    border-radius: 50%;
    overflow: hidden;
}

/* 行星地表的樣式。並且有一個旋轉和縮放的效果，模仿行星的自轉。
planetRotate的動畫，該動畫將背景位置由0%移動到-200%。 
佔據其父元素（即大氣層）的整個空間，並將其背景圖像大小設置為cover以填充整個元素。*/
.mars {
    background-image: url(/src/assets/image/destination/mars.jpg);
}

.moon {
    background-image: url(/src/assets/image/destination/moon.jpg);
}

.venus {
    background-image: url(/src/assets/image/destination/venus.jpg);
}

.planet-surface {
    transform: rotate(0.034deg) scale(1.2);
    animation: planetRotate 30s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

@keyframes planetRotate {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}

.dec-planet {
    display: none;
}

.info {
    font-size: $p2-s;
    line-height: 1.5;
}

.planet-info {
    margin: 10% 0;
}

.travel-rwd-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 20%;
    margin-bottom: 30%;
    padding-left: $gap;
    padding-right: $gap;
}

.travel-rwd-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: calc($gap * -1);
    margin-right: calc($gap * -1);
}


.outside-boder {
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 1.5%; //10.73px
    border: 0.1rem solid $white; //3.3px
    border-radius: 0.2rem; //10px
    box-shadow: 0 0 1rem 0.2rem $blue; //40px 10px
    position: relative;

    &::before {
        content: "";
        border: 0.1rem solid $blue; //6.6px
        border-radius: 0.1rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }

    &::after {
        content: "";
        border: 0.4rem solid rgba(91, 19, 236, 20%); //10.73px
        border-radius: 0.3rem; //6px
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

.inside-boder {
    &::after {
        content: "";
        border: 0.3rem solid $blue; //12px
        border-radius: 0.15rem;
        filter: blur($circle/4);
        position: absolute;
        top: -2%;
        left: -0.5%;
        right: -0.5%;
        height: 104%;
    }

    &::before {
        content: "";
        border: 0.2rem solid $blueL;
        border-radius: 0.25rem;
        position: absolute;
        top: -3%;
        left: -0.8%;
        right: -0.8%;
        height: 106%;
    }
}

.text-inside-boder {
    &::after {
        content: "";
        border: 0.3rem solid $blue; //12px
        border-radius: 0.15rem;
        filter: blur($circle/4);
        position: absolute;
        top: 0.4%;
        left: 0.3%;
        right: 0.3%;
        height: 99%;
    }

    &::before {
        content: "";
        border: 0.2rem solid $blueL;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0.2%;
        right: 0.2%;
        height: 100%;
    }
}

.travel-img {
    width: 100%;
}

// .slideshow {

//     width: 90%;
//     min-height: 202px;
//     overflow: hidden;
//     position: relative;
// }

// .custom-carousel {
//     list-style: none;
//     padding: 0px;
//     margin: 0px;
//     display: flex;
//     position: absolute;
//     top: 0;
// }

// .travel-img-li {
//     list-style: none;
//     padding: 0px;
//     margin: 0px;
//     cursor: pointer;
// }

// .travel-img {
//     width: 310px;
//     margin: 5px;
// }


.travel-info-rwd-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;
}

.travel-info-rwd-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3% 0;
    margin-left: calc($gap * -1);
    margin-right: calc($gap * -1);
}


.travel-info {
    margin-top: 10%;
}


.travel-h3 {
    margin: 5% 0;
}

.travel-note {
    margin: 5% 0;
}

//訂購按鈕
.cybr-btn {
    min-width: 0px;
    width: 80%;
}

.travel-text {
    margin: 5% 0;
    font-size: $p2-s;
    text-align: left;
}

.read-more {
    background-color: transparent;
    font-size: $p2-s;
    color: $white;
    border: 0;
    margin-left: auto;
    margin-bottom: 8%;
    display: block;
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: $h1-m;
        margin-right: 25% ;
    }

    .h1-ch {
        writing-mode: vertical-lr;
        letter-spacing: 2rem;
    }

    h3 {
        font-size: $h2-m;
    }

    .planet-button {
        font-size: 22px;
    }

    .tab-ul {
        &::before {
            top: -60%;
            height: 230%;
        }
    }

    .info {
        font-size: $p2-m;
    }

    .planet-list {
        order: 0;
        //html 區域調整順序
    }

    .planet-text {
        order: 1;

        h3 {
            display: flex;
        }
    }

    .planet-img-group {
        order: 2;

        h3 {
            display: none;
        }
    }

    .planet-atmosphere {
        height: 150%;
        width: 150%;
        top: 10%;
        left: -50%;
    }

    .planet-surface {
        height: 150%;
        width: 150%;
    }

    .dec-planet {
        display: block;
        position: absolute;
        width: 77%;
        top: -45%;
        left: 10%;
        z-index: -1;
    }

    .travel-info-rwd-group {
        justify-content: space-between;
        padding: 3%;
    }

    .travel-text {
        margin: 0;
        font-size: $p2-m;
    }

    .read-more {
        background-color: transparent;
        font-size: $p2-m;
        margin-bottom: 0;
    }

    .outside-boder {
        padding: 1%; //10.73px
        border: 0.2rem solid $white; //3.3px
        border-radius: 0.4rem; //10px
        box-shadow: 0 0 1.2rem 0.4rem $blue; //40px 10px

        &::before {
            content: "";
            border: 0.3rem solid $blue; //6.6px
            border-radius: 0.3rem;
        }

        &::after {
            content: "";
            border: 0.8rem solid rgba(91, 19, 236, 20%); //10.73px
            border-radius: 0.4rem; //6px
        }
    }
}

.inside-boder {
    &::after {
        content: "";
        border: 0.6rem solid $blue; //12px
        border-radius: 0.3rem;
    }
}

.text-inside-boder {
    &::after {
        content: "";
        border: 0.6rem solid $blue; //12px
        border-radius: 0.3rem;
    }

    &::before {
        top: 0;
        left: 0.2%;
        right: 0.2%;
        height: 100%;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: $h1-l;
    }

    h3 {
        font-size: $h2-l;
    }

    .planet-button {
        font-size: 24px;
    }

    .info {
        font-size: $p2-l;
    }

    .planet-info {
        margin-bottom: 30%;
        font-size: $p1-l;
    }

    .section-title {
        margin-bottom: 10%
    }

}


@media screen and (min-width: 1800px) {
    .plant-rwd-container {
        max-width: 1800px;
    }

    .h1-ch {
        letter-spacing: 3rem;
    }

    .tab-ul {
        &::before {
            top: -70%;
            height: 300%;
        }
    }

    .planet-atmosphere {
        top: 10%;
        left: -70%;
    }

    // main .section-title:first-child {
    //     margin-bottom: 0;
    // }
    // //h2 

    .dec-planet {
        top: -30%;
        z-index: -1;
    }

}