* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #000;
}

.banner {
    background-image: url("../assets/image/donate/donate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
}

.tit {
    color: $white;
    position: absolute;
    top: 30%;
    right: 7%;
    text-align: center;
}

.tit h1 {
    font-size: $h1-l;
    padding-bottom: 10px;
    font-weight: 700;
    text-shadow:
        3px 3px 10px #20202075,
        2px -1px 10px #20202075,
        2px -1px 10px #20202075,
        -1px 1px 10px #20202075,
        3px 1px 0 #20202075
}

.tit span {
    font-size: $h1-l;
    font-weight: 700;
    display: block;
    text-shadow:
        3px 3px 10px #20202075,
        2px -1px 10px #20202075,
        2px -1px 10px #20202075,
        -1px 1px 10px #20202075,
        3px 1px 0 #20202075
}

.donate {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.preface {
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.preface .down {
    width: 30px;
    position: absolute;
    top: -25px;
}

.preface .down img {
    width: 100%;
    vertical-align: top;

    @keyframes pulse {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

        50% {
            -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
        }

        100% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }

    animation: pulse 2s infinite;
}

.preface .txt {
    padding: 30px 0;
}

.preface .txt h3 {
    color: $white;
    line-height: 2;
    font-size: $p1-l;
    font-weight: 700;
}

.content {
    padding-top: 80px;
    display: flex;
}

// .detail {
//     width: 60%;
//     background-color: rgba(255, 255, 255, 0.12);
//     color: $white;
//     padding: 30px 0;
// }

.detail h2 {
    text-align: center;
    padding: 30px 0;
    font-size: $h2-m;
    font-weight: 700;
}

.detail h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 2;
    max-width: 400px;
    margin: auto;
    font-size: $p1-l;
    font-weight: 600;
}

.detail p {
    padding: 20px 0;
    line-height: 2;
    max-width: 450px;
    margin: auto;
    font-size: 16px;
    font-weight: 600;
}

.detail-pic img {
    width: 100%;
    vertical-align: top;
}

.prize {
    background-color: #000;
    max-width: 480px;
    margin: auto;
    padding: 20px 10px;
}

.prize h4 {
    font-size: $p1-m;
    font-weight: 700;
}

.btn1 {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.btn1-ls {
    letter-spacing: 4px;
}


.detail table {
    // border: 1px solid $white;
    width: 450px;
    margin: auto;
    // border-collapse: separate;
    // border-radius: 10px;
}

.detail tr {
    border: 1px solid $white;
    text-align: center;
    height: 40px;
}

.detail td {
    line-height: 2;
    padding: 12px 0;
}

.member {
    width: 30px;
}

.bottom {
    max-width: 450px;
    margin: auto;
    padding: 40px 0;
}

.bottom img {
    width: 100%;
    vertical-align: top;
}

// .money {
//     width: 40%;
//     padding-left: 20px;
// }

.sticky {
    position: sticky;
    top: 30px;
    background-color: rgba(255, 255, 255, 0.73);
    border-radius: 6px 6px 0 0;
    color: #000;
}

.money h3 {
    background-color: $blue;
    color: $white;
    line-height: 2.5;
    border-radius: 6px 6px 0 0;
    padding-left: 20px;
    font-size: $p1-l;
    font-weight: 700;
}

.support {
    padding: 30px 20px;
    border-radius: 0 0 6px 6px;
}

.support h2 {
    font-size: $h2-m;
    color: #000;
    font-weight: 700;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: center;
}

.support p {
    color: #000;
    line-height: 1.5;
    padding: 10px 0;
    font-weight: 600;
}

.choose {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.choose .amount {
    width: 120px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: $p1-l;
    text-align: center;
    line-height: 1;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.choose .amount:hover {
    border: 2px solid $blue;
}

.choose .amount:focus {
    border: 2px solid $blue;
}

.choose .amount:focus ::after {
    width: 25px;
    height: 25px;
    background-color: #5B13EC;
    color: #F0F0F0;
    display: block;
    content: " ✔ ";
    position: absolute;
    top: -10px;
    right: 45px;
    font-size: $p2-s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose .amount span {
    font-size: $p2-s;
}

.other {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    padding: 20px 0;
    font-weight: 600;
}

input {
    background-color: transparent;
    border: 1px solid #000;
    width: 70%;
    height: 40px;
    border-radius: 3px;
    padding-left: 15px;
    letter-spacing: 3px;
}

.but2 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.btn2-ls {
    letter-spacing: 8px;
}

.tb-l {
    display: block;
}

.tb-c {
    display: none;
}

.btn-bottom-c {
    display: none;
    position: sticky;
    bottom: 0;
}

.btn-bottom {
    width: 100%;
    background-color: $blue;
    color: $white;
    font-size: $p2-s;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.btn-bottom:hover {
    background-color: #7338eb;
    color: $white;
}

.pre-formatted {
    white-space: pre-line;
}

// --------------捐款流程--------------
.donation-data {
    padding: 20px;
}

.donation-data h2 {
    font-size: $h2-s;
    font-weight: 700;
    padding-bottom: 20px;
}

.card {
    max-width: 90px;
    height: 40px;
}

// --------------捐款流程結束--------------

// --------------loading--------------
@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes spin3D {
    from {
        transform: rotate3d(.5, .5, .5, 360deg);
    }

    to {
        transform: rotate3d(0deg);
    }
}

@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}

@keyframes pulses {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}

.spinner-box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000a1;
    position: relative;
}

/* SOLAR SYSTEM */

.orbit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fafbfC;
    border-radius: 50%;
}

.leo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.blue-orbit {
    width: 165px;
    height: 165px;
    border: 1px solid #a7a7a7;
    -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
    width: 120px;
    height: 120px;
    border: 1px solid #6999c39e;
    -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
    width: 90px;
    height: 90px;
    border: 1px solid #a291ff;
    -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
    width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
    transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
    transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
    transform: rotate3D(.5, 1, 2, 90deg);
}

// --------------loading 結束--------------

@media screen and (min-width:1200px) {
    .detail {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.12);
        color: $white;
        padding: 30px 0;
    }

    .money {
        width: 40%;
        padding-left: 20px;
    }
}

@media screen and (max-width:1200px) {
    .detail {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.12);
        color: $white;
        padding: 30px 0;
    }

    .money {
        width: 40%;
        padding-left: 20px;
    }
}

@media screen and (max-width:768px) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tit h1 {
        font-size: $h1-m;
    }

    .tit span {
        font-size: $h1-m;
        font-weight: 700;
    }

    .tit {
        top: auto;
        right: auto;
    }

    .preface .down {
        width: 30px;
        position: static;
        margin-left: 20px;
    }

    .content {
        flex-direction: column-reverse;
    }

    .detail {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.12);
        color: $white;
        padding: 30px 0;
    }

    .money {
        width: 90%;
        padding: 20px 10px;
        margin: auto;
    }

    .detail p {
        padding: 20px 10px;
        line-height: 2;
        max-width: 450px;
        margin: auto;
        font-size: $p1-s;
    }

    .detail h3 {
        padding: 20px 10px;
        font-size: $p1-m;
    }

    .detail table {
        width: 90%;
        margin: auto;
    }

    .btn-bottom-c {
        display: block;
    }

    input {
        background-color: transparent;
        border: 1px solid #000;
        // width: 280px;
        // height: 52px;
        border-radius: 3px;
        padding-left: 15px;
        letter-spacing: 3px;
    }

    .preface .txt h3 {
        font-size: $p1-m;
    }


    .support h2 {
        font-size: $h2-s;
    }

    .detail h2 {
        font-size: $h2-s;
    }

    .prize h4 {
        font-size: $p1-s;
        font-weight: 700;
    }
}

@media screen and (max-width:375px) {
    .tb-l {
        display: none;
    }

    .tb-c {
        display: block;
    }

    .preface .txt h3 {
        font-size: $p1-s;
    }


    .detail h3 {
        padding: 20px 10px;
        font-size: $p1-s;
    }
}