* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #000;
}

.banner {
    background-image: url("../assets/image/donate/donate.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 320px;
    width: 100%;
    position: relative;
    display: flex;
}

.tit {
    color: $white;
    position: absolute;
    top: 30%;
    right: 7%;
    text-align: center;
}

.tit h1 {
    font-size: $h1-l;
}

.tit span {
    font-size: $h1-l;
    font-weight: 700;
}

.donate {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.preface {
    text-align: center;
    padding: 20px 0;
}

.preface .down {
    width: 30px;
    position: absolute;
}

.preface .down img {
    width: 100%;
    vertical-align: top;
}

.preface .txt {
    padding: 30px 0;
}

.preface .txt h3 {
    color: $white;
    line-height: 2;
    font-size: 20px;
}

.content {
    padding-top: 80px;
    display: flex;
}

// .detail {
//     width: 60%;
//     background-color: rgba(255, 255, 255, 0.12);
//     color: $white;
//     padding: 30px 0;
// }

.detail h2 {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}

.detail h3 {
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 2;
    max-width: 400px;
    margin: auto;
    font-size: 20px;
}

.detail p {
    padding: 20px 0;
    line-height: 2;
    max-width: 450px;
    margin: auto;
    font-size: 16px;
}

.detail-pic {}

.detail-pic img {
    width: 100%;
    vertical-align: top;
}

.prize {
    background-color: #000;
    max-width: 480px;
    margin: auto;
    padding: 20px 10px;
}

.prize h4 {
    font-size: 18px;
}

.but {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.detail table {
    // border: 1px solid $white;
    width: 450px;
    margin: auto;
    // border-collapse: separate;
    // border-radius: 10px;
}

.detail tr {
    border: 1px solid $white;
    text-align: center;
    height: 40px;
}

.detail td {
    line-height: 2;
}

.member {
    width: 30px;
}

.bottom {
    max-width: 450px;
    margin: auto;
    padding: 40px 0;
}

.bottom img {
    width: 100%;
    vertical-align: top;
}

// .money {
//     width: 40%;
//     padding-left: 20px;
// }

.sticky {
    position: sticky;
    top: 30px;
}

.money h3 {
    background-color: $blue;
    color: $white;
    line-height: 2.5;
    border-radius: 6px 6px 0 0;
    padding-left: 20px;
    font-size: 20px;
}

.support {
    background-color: rgba(255, 255, 255, 0.73);
    padding: 30px 20px;
    border-radius: 0 0 6px 6px;
}

.support h2 {
    font-size: 24px;
    color: #000;
    font-weight: 700;
    padding-bottom: 20px;
}

.support p {
    color: #000;
    line-height: 1.5;
    padding: 10px 0;
}

.choose {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.choose .amount {
    width: 120px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.choose .amount:hover {
    border: 2px solid $blue;
}

.choose .amount:focus {
    border: 2px solid $blue;
}

.choose .amount:focus ::after {
    width: 25px;
    height: 25px;
    background-color: $blue;
    color: $white;
    display: block;
    content: " ✔ ";
    position: absolute;
    top: -10px;
    right: 45px;
    font-size: 14px;
    border-radius: 50%;
}

.choose .amount span {
    font-size: 14px;
}

.other {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #000;
    padding: 20px 0;
}

input {
    background-color: transparent;
    border: 1px solid #000;
    width: 330px;
    height: 52px;
    border-radius: 3px;
}

.but2 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.tb-l {
    display: block;
}

.tb-c {
    display: none;
}

.btn-bottom-c {
    display: none;
    position: sticky;
    bottom: 0;
}

.btn-bottom {
    width: 100%;
    background-color: $blue;
    color: $white;
    font-size: 14px;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.btn-bottom:hover {
    background-color: #7338eb;
    color: $white;
}

.pre-formatted {
    white-space: pre-line;
}

@media screen and (min-width:1200px) {
    .detail {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.12);
        color: $white;
        padding: 30px 0;
    }

    .money {
        width: 40%;
        padding-left: 20px;
    }
}

@media screen and (max-width:1200px) {
    .detail {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.12);
        color: $white;
        padding: 30px 0;
    }

    .money {
        width: 40%;
        padding-left: 20px;
    }
}

@media screen and (max-width:768px) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tit h1 {
        font-size: $h1-m;
    }

    .tit span {
        font-size: $h1-m;
        font-weight: 700;
    }

    .tit {
        top: auto;
        right: auto;
    }

    .preface .down {
        width: 30px;
        position: static;
    }

    .content {
        flex-direction: column-reverse;
    }

    .detail {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.12);
        color: $white;
        padding: 30px 0;
    }

    .money {
        width: 90%;
        padding: 20px 10px;
        margin: auto;
    }

    .detail p {
        padding: 20px 10px;
        line-height: 2;
        max-width: 450px;
        margin: auto;
        font-size: 16px;
    }

    .detail h3 {
        padding: 20px 10px;
        line-height: 2;
        max-width: 400px;
        margin: auto;
        font-size: 20px;
    }

    .detail table {
        width: 90%;
        margin: auto;
    }

    .btn-bottom-c {
        display: block;
    }
}

@media screen and (max-width:375px) {
    .tb-l {
        display: none;
    }

    .tb-c {
        display: block;
    }
}