.banner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('~@/assets/image/index/banner.svg');
    background-size: cover;
    z-index: -2;

}

.banner img {
    width: 99%;
    z-index: -5;
    opacity: 0;
}

$gap: 10px;

.rwd-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;

}

.rwd-group {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: calc($gap * -1);
    margin-right: calc($gap * -1);
    position: relative;
}

.planet-group {
    perspective: 1200px;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black, transparent);
}
.outside{
    transform-style: preserve-3d;
    transform: rotateY(308deg) rotateX(25deg); 
}
.solarsystem {
    transform-style: preserve-3d;
    transform: rotateY(25deg) rotateX(10deg); 
    position: relative;
    width: 70%;
    padding-top: 70%;
}

.venusring,
.earthring,
.rocketring,
.marsring {
    display: block;
    position: absolute;
    border: 2px dashed #727171;
    border-radius: 50%;
    animation-iteration-count: infinite;
    //動畫無限循環
    animation-timing-function: linear;
    // 動畫的速度曲線。linear 保持恆定的速度，不會有加速或減速的效果。
    animation-name: orbit;

    
}

.card-planet {
    position: absolute;
}

:deep(.earth) {
    animation-duration: 10s;
}

:deep(.planet-atmosphere) {
    box-shadow:
        -5px 0px 10px -4px #ffffff,
        /* 白色亮外框 */
        inset 10px 0px 12px -2px rgba(255, 255, 255, .3),
        /* 白色亮內框 */
        inset -20px 0px 20px 0px rgb(31, 30, 30);
    /*星球右側陰影*/
}


.venusring {
    z-index: 4;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    animation-duration: 8s;
}

:deep(.venusring-return) {
    animation: orbit 8s linear 0s infinite reverse both;
    width: 60%;
    padding-top: 60%;
    top: 70%;

    &::after {
        content: 'VENUS';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}

.earthring {
    z-index: 3;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    animation-duration: 12s;
}

:deep(.earthring-return) {
    animation: orbit 12s linear 0s infinite reverse both;
    width: 30%;
    padding-top: 30%;
    top: 70%;

    &::after {
        content: 'EARTH';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}

:deep(.earth) {
    animation-duration: 5s;
}

.rocketring {
    z-index: 1;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    animation-duration: 8s;
}

.rocket {
    position: absolute;
    top: 10%;
    animation: orbit 8s linear 0s infinite reverse both;
}

.marsring {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    animation-duration: 20s;
}
:deep(.mars) {
    animation-duration: 20s;
}
:deep(.marsring-return) {
    animation: orbit 20s linear 0s infinite reverse both;
    width: 13%;
    padding-top: 13%;
    top: 70%;

    &::after {
        content: 'MARS';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}

.moonring {
    display: block;
    position: absolute;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    // background-color: $blueO;
    top: 57.5%;
    left: -12.5%;
}

:deep(.moonring-return) {
    animation: orbit 12s linear 0s infinite reverse both;
    width: 20%;
    padding-top: 20%;
    top: 70%;

    &::after {
        content: 'MOON';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}


@keyframes orbit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}
@keyframes ooo {
    from {
        transform: rotateY(320deg) rotateX(75deg);
    }

    to {
        transform:rotateX(-90deg) rotateY(360deg);
    }
}