.banner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('~@/assets/image/index/banner.svg');
    background-size: cover;
    z-index: -2;

}

.banner img {
    width: 99%;
    z-index: -5;
    opacity: 0;
}

.arrow {
    margin-bottom: 30%;
}

section {
    padding-top: 20%;
}

$gap: 10px;

.rwd-container {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;

}

[class*="rwd-group"] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: calc($gap * -1);
    margin-right: calc($gap * -1);
    position: relative;
}

.landing-title {
    color: $white;
    font-size: $h2-s;
    text-align: center;
    letter-spacing: 0.3rem;
    padding-bottom: 10%;
}

.landing-group {
    color: $white;
    text-align: center;
}

#launchesOutside,
#landingOutside,
#reflightsOutside {
    font-size: $h2-l;
    line-height: 1.5;
}

.landing-text {
    font-size: $p1-l;
    line-height: 1.5;
}

//本公司第一次出團

//按鈕樣式
.cybr-btn {
    min-width: 0px;
    max-width: 300px;
    margin-top: 20%;
}

.title-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus-img {
    margin-top: 10%;
    width: 100%;
}

.marquee {
    overflow: hidden;
}

.scroll {
    display: flex;
    background: black;
    height: 40px;

    .news {
        white-space: nowrap;
        text-transform: uppercase;
        animation: scroll 40s linear infinite;

        &:nth-child(2) {
            animation: scroll2 40s linear infinite;
            animation-delay: -20s;
        }

    }
}

@keyframes scroll {
    from {
        transform: translateX(100%)
    }

    to {
        transform: translateX(-100%)
    }
}

@keyframes scroll2 {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(-200%)
    }
}


// .news {
//     font-size: $h1-s;
//     font-weight: lighter;
//     color: transparent;
//     background-image: url('~@/assets/image/index/giphy.gif');
//     -moz-background-clip: text;
//     -webkit-background-clip: text;
// }

.planet-group {
    perspective: 1200px;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black, transparent);
}

.outside {
    transform-style: preserve-3d;
    transform: rotateY(308deg) rotateX(25deg);
}

.solarsystem {
    transform-style: preserve-3d;
    transform: rotateY(25deg) rotateX(10deg);
    position: relative;
    width: 70%;
    padding-top: 70%;
}

.venusring,
.earthring,
.rocketring,
.marsring {
    display: block;
    position: absolute;
    border: 2px dashed #727171;
    border-radius: 50%;
    animation-iteration-count: infinite;
    //動畫無限循環
    animation-timing-function: linear;
    // 動畫的速度曲線。linear 保持恆定的速度，不會有加速或減速的效果。
    animation-name: orbit;


}

.card-planet {
    position: absolute;
}

:deep(.earth) {
    animation-duration: 10s;
}

:deep(.planet-atmosphere) {
    box-shadow:
        -5px 0px 10px -4px #ffffff,
        /* 白色亮外框 */
        inset 10px 0px 12px -2px rgba(255, 255, 255, .3),
        /* 白色亮內框 */
        inset -20px 0px 20px 0px rgb(31, 30, 30);
    /*星球右側陰影*/
}


.venusring {
    z-index: 4;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    animation-duration: 8s;
}

:deep(.venusring-return) {
    animation: orbit 8s linear 0s infinite reverse both;
    width: 60%;
    padding-top: 60%;
    top: 70%;

    &::after {
        content: 'VENUS';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}

.earthring {
    z-index: 3;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    animation-duration: 12s;
}

:deep(.earthring-return) {
    animation: orbit 12s linear 0s infinite reverse both;
    width: 30%;
    padding-top: 30%;
    top: 70%;

    &::after {
        content: 'EARTH';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}

:deep(.earth) {
    animation-duration: 5s;
}

.rocketring {
    z-index: 1;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
    animation-duration: 8s;
}

.rocket {
    position: absolute;
    top: 10%;
    animation: orbit 8s linear 0s infinite reverse both;
}

.marsring {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    animation-duration: 20s;
}

:deep(.mars) {
    animation-duration: 20s;
}

:deep(.marsring-return) {
    animation: orbit 20s linear 0s infinite reverse both;
    width: 13%;
    padding-top: 13%;
    top: 70%;

    &::after {
        content: 'MARS';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}

.moonring {
    display: block;
    position: absolute;
    width: 55%;
    height: 55%;
    border-radius: 50%;
    // background-color: $blueO;
    top: 57.5%;
    left: -12.5%;
}

:deep(.moonring-return) {
    animation: orbit 12s linear 0s infinite reverse both;
    width: 20%;
    padding-top: 20%;
    top: 70%;

    &::after {
        content: 'MOON';
        border: $purple;
        background-color: $purpleO;
        display: block;
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
    }
}


@keyframes orbit {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

h3 {
    color: $white;
    font-size: $h2-s;
    letter-spacing: 0.3rem;
    line-height: 1.5;
    text-align: center;
}

section>.rwd-container:nth-child(even)>.vehicles-rwd-group {
    flex-direction: row-reverse;
    padding: 10% 0;
}


.vehicles-title {
    width: 50%;
    margin: 0 0 0 auto;
}

.vehicles-rwd-group {
    justify-content: center;
}

.spaceship,
.spacesuit {
    width: 100%;
}

.tourist-rwd-group {
    margin-bottom: 30%;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    max-width: 255px;
    height: 340px;
}

.outside-boder {
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 1.5%; //10.73px
    border: 0.1rem solid $white; //3.3px
    border-radius: 0.2rem; //10px
    box-shadow: 0 0 1rem 0.2rem $blue; //40px 10px
    position: relative;

    &::before {
        content: "";
        border: 0.1rem solid $blue; //6.6px
        border-radius: 0.1rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        pointer-events: none;
    }

    &::after {
        content: "";
        border: 0.4rem solid rgba(91, 19, 236, 20%); //10.73px
        border-radius: 0.3rem; //6px
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        pointer-events: none;
    }
}

$circle: 1.3rem;

.inside-boder {
    &::after {
        content: "";
        border: 0.3rem solid $blue; //12px
        border-radius: 0.15rem;
        filter: blur($circle/4);
        position: absolute;
        top: 0.4%;
        left: 2%;
        right: 5%;
        height: 99%;
        pointer-events: none;
    }

    &::before {
        content: "";
        border: 0.2rem solid $blueL;
        border-radius: 0.25rem;
        position: absolute;
        top: 0;
        left: 0%;
        right: 4%;
        height: 100%;
        pointer-events: none;
    }
}

.memberContent {
    width: 255px;
    height: 340px;
    position: relative;
    overflow: hidden;
}

.member-img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    left: 42%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -4;
}

.members-info {
    width: 90%;
    top: 60%;
    left: 3%;
    position: relative;
    display: none;
}

.swiper-slide:hover .members-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: rgb(57, 56, 56, 70%);
}

.members-info .cybr-btn {
    max-width: 200px;
    margin-top: 5%;
}

.members-name {
    line-height: 1.5;
    font-size: $p1-s;
}

.members-job {
    line-height: 1.5;
    font-size: $p2-s;
}

@media screen and (min-width: 700px) {
    .news {
        font-size: $h1-m;
    }

    h3 {
        font-size: $h2-m;
    }

    #launchesOutside,
    #landingOutside,
    #reflightsOutside {
        font-size: $h1-l;
    }

    .landing-text {
        font-size: $h2-s;
    }

    //按鈕樣式
    .cybr-btn {
        margin-top: 10%;
    }

    .members-name {
        font-size: $p1-m;
    }

    .members-job {
        font-size: $p2-m;
    }

}

@media screen and (min-width: 1024px) {
    .news {
        font-size: $h1-l;
    }

    h3 {
        font-size: $h2-l;
    }

    .landing-title {
        font-size: $h2-l;
    }

    #launchesOutside,
    #landingOutside,
    #reflightsOutside {
        font-size: 86px;
    }

    .landing-text {
        font-size: 24px;
    }

    .members-name {
        font-size: $p1-l;
    }

    .members-job {
        font-size: $p2-l;
    }
}

@media screen and (min-width: 1800px) {}