.banner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('~@/assets/image/index/banner.svg');
    background-size: cover;
    z-index: -2;
    
}
.banner img{
    width: 99%;
    z-index: -5;
    opacity: 0;
}
section{
    min-width: 1200px;
}
.solarsystem{
    position: relative;
    width: 50%;
    padding-top: 50%;
}
.venusring,
.earthring,
.marsring{
    display: block;
    position: absolute;
    border: 2px solid #394057;
    animation-iteration-count: infinite;
    //動畫無限循環
    animation-timing-function: linear;
    // 動畫的速度曲線。linear 保持恆定的速度，不會有加速或減速的效果。
    animation-name: orbit;

}

.venusring {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    top: 240px;
    left: 400px;
    animation-duration: 8s;
}
.card-planet{
    width: 30%;
    padding-top: 30%;
    position: absolute;
    top: 70%;
}

.earthring {
    width: 220px;
    height: 220px;
    border-radius: 112px;
    top: 210px;
    left: 370px;
    animation-duration: 12s;
}

.moonring {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #06c;
    top: 56px;
    left: 5px;
    animation-iteration-count: infinite;
    //動畫無限循環
    animation-timing-function: linear;
    // 動畫的速度曲線。linear 保持恆定的速度，不會有加速或減速的效果。
    animation-name: moon;
    animation-duration: 2s;
}
.earth{
    animation: planetRotate 1s linear infinite;
}
// .earthring span.moonring {
//     width: 4px;
//     height: 4px;
//     border-radius: 2px;
//     background: #ccc;
//     top: 12px;
//     left: 12px;
// }

.marsring {
    width: 280px;
    height: 280px;
    border-radius: 142px;
    top: 180px;
    left: 340px;
    animation-duration: 20s;
}

.mars span {
    background: #aa4200;
    top: 0px;
    left: 175px;
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes moon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
