// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Oswald:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
#membercenter{
    body{
        font-family: 'Oswald', 'Roboto Mono','Noto Serif JP', 'Noto Serif TC',  serif;
        background-color: #0E0E0E;
    }
    
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    p{color: $blueMem;}

    .top{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .memtitle{
        margin: auto;
        display:block;
        font-size: $h1-l; 
        color: $blueMem;
        margin-top: 5rem;
        font-weight: 700;  
        text-align: center;
        letter-spacing: .3rem;
    }

    .top{
        display: flex;
        justify-content: center;
    }

    .info{
        display: flex;
        justify-content: center;
        margin-right: 9rem;
    }
    .upload{width: 200px;}

    .greeting{
        display: flex;
        color: $blueMem;
        font-size: $h2-l;
        letter-spacing: .3rem;
        font-weight: $bold;
        & img{
            margin-right: 10px;
        }
    }

    .mem-box{
        transform: translateY(10px);
        margin-left: 10px;
        line-height: 1.5;
        font-size: $p1-l;
        letter-spacing: .3rem;
    }

    .nickname{
        font-size:$h2-l;
        color: $blueMem;
    }

    .icon{width: 20%}

    .mem-number{
      font-size: $p2-l;
        margin-top: 1rem;
        line-height: 1.5;
    }

    .sum{
        font-size: 24px;
      //   font-weight: $bold;
        letter-spacing: .3rem;
    }

    .tab-mem-title{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    } 

    .tab-mem-title button {
        background-color: transparent;
        color:  $blueMem;
        border: none;
        margin-right: 10px;
    }
    
    .pic.active-pic {
        background-color: #f0f0f0;
        border: 2px solid $blueMem;
        box-shadow: 10px 10px 20px 0px rgba(1, 193, 253, 0.25);
    }

    .pic{
        width: 72px;
        height:63px;
        border-radius: 10px;
        position: relative;
        border: 2px solid  $blueMem;
        margin-bottom: 10px;
    }

    .pic img{ 
        position: absolute;
        left: 23%;
        top: 20%;
    }

  
    .option-tab{
          margin-right: 10px; 
          color: $blueMem;
    }

    .option-tab:last-child { margin-right: 0; }

    .content{
          display: flex;
          justify-content: center;
          width: 100%;
    }

    .information, .donate, .mem-benefit{
          padding: 80px ;
          margin: 3rem 0;
          border: 1.8px solid  $blueMem;
          border-radius: 10px;
          background-color: rgba(47, 47, 47, 0.8);
      }

    .account-first-title, .account-sec-title{
          font-size:$h2-l ;
          font-weight: 700;
          text-align: center;
          margin-bottom: 30px;
    }

    .information >span{
          font-size:$p2-l ;
          letter-spacing: .2em;
    }

    .information input{
          width: 300px;
          border-radius: 5px;
          background-color: rgba(91, 19, 236, 0.2);
          border: 2px solid $blue;
          margin: 10px 0;
          padding: 5px;
          height: 35px;
          color: $white;
          font-size:$p1-s ;
            &:focus{
              color: $white;
            }
      }

    input[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(1) hue-rotate(180deg);
    }

    #sex > option{color: $black;}

    #name, #mobile, #address{margin-right: 5rem;}

    .name-nickname-container, .sex-bir-container, 
    .phone-mail-container, .address-passport-container{
          display: flex; 
          align-items: center; 
    }

    .top-box{
          display: flex;
          align-items: center;
    }

    .top-button{margin-left: 12rem;}
   
    #sex{
          width: 300px;
          border-radius: 5px;
          background-color: rgba(91, 19, 236, 0.2);
          border: 2px solid $blue;
          margin: 10px 0;
          padding: 5px;
          height: 35px;
          margin-right: 5rem;
    }
    .facebook, .google, .line{
          margin: 1.5rem 0;
    }

    .fb, .google_text, .line_text{
          font-size: $p2-l;
          font-weight:$normal;
          letter-spacing: .2em;
          margin-left: 1rem;
    }

    .account-hr{
          border-color:$blueMem;
          margin: 2rem 0;
    }

    .password-bottom-container{
          display: flex;
          flex-direction: column; 
          align-items: center;
          justify-content: center; 
    }

    .bottom-button{margin-top: 1.5rem;}

    //查詢訂單
    .check-order{
          width: 100%;
          padding: 80px 20px 20px 10px;
          max-width: 850px; 
          border: 1.8px solid  $blueMem;
          border-radius: 10px;
          background-color: rgba(47, 47, 47, 0.8);
          margin: 5rem 0;
    }

    .odtitle{
          display: flex;
          justify-content: space-around;
          text-align: center;
          color: $blueMem;
          font-size: $p1-l;
          font-weight: 700;
          margin: 20px 0;
    }

    .odtitle-name{margin-right: 80px;}

    .odtitle-hr{
          border-color:$blueMem;
          margin-bottom: 30px;
    }

    .odnames-container {
          display: grid;
          grid-template-columns: 1fr; 
          grid-gap: 20px;
          padding: 10px; 
    }
    
    .odname {
          display: grid;
          grid-gap: 20px; 
    }
    
    .odname:hover  {
          transform: translateY(0);
          opacity: 1;
          height: auto; 
          padding: 10px; 
    }
   
    .oddetail{
          display: flex;
          justify-content: space-around;
          font-size: $p1-l;
          text-align: center;
          font-size: $p2-l;
    }

    .od-sec {
          display: flex;
          width: 40%;
          & img{
            width: 120px;
            height: 120px
          } 
    }

    .trip-content{
          margin: auto;
          text-align: left;
          margin-left: 10px;
          line-height: 1.5;
          
    }
    
    .dpdate{
          font-size:$p2-l ;
    }

    .client-accordion, .order-amount, .order-date{
         display: flex;
         align-items: center;     
    }

    .order-date{
         margin-left: 30px;
     }


    /* 打開和關閉手風琴面板樣式 */
    .client-accordion {
          background-color: transparent;
          color: $black;
          cursor: pointer;
          text-align: left;
          outline: none;
          font-size: 18px;
          display: flex;
          align-items: center;
          border: none;
          position: relative;
          left: -40px;
          text-align: center; 
          width: fit-content; 
    }

    .client-accordion:hover{
          color: #ffffff;
    }

    .client-accordion span {
         font-size: 40px; 
         font-weight: bold;
         color: $blueMem;   
         margin-right: 20px; 
    }
    
    .client-accordion.active span {
        font-size: 40px; 
        font-weight: bold;
        color: $blueMem;   
    }

    .collapse {
          transition: height 600ms cubic-bezier(0.3, 0, 0.6, 1);
          width: 100%;         
    }

    .panel{
          display: flex;
          flex-direction: column;
    }
    
    .p-title{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-bottom: 20px;
          font-weight: $bold;
          text-align: center; 
    }

     .journey-content{ 
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           text-align: center;  
    }
    
     .journey-detail{
           background-color: $blueMem;
           padding: 5px 0;
           border-radius: 10px;   
           margin-bottom: 20px; 
     }
   
     .journey-detail p{
           color: $black;
     }

    .journey-hr{
          border-color:$blueMem;
          margin-top: -15px;
          margin-bottom: 15px;
    }

   
    //捐款明細

    .form{
          display: flex;
          flex-direction: column;
    }

    .donate-top{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          position: relative;
    }

    .account-first-title {
          flex: 1; 
          text-align: center; 
    }

    .last-year {
          position: absolute;
          right:0;
          top: -2%;
          padding: 10px 15px;
          border: 2px solid $blueMem;
          border-radius: 30px;
          color: $blueMem;
    }

    .order-title, .donate-order{
          display: grid;
          grid-template-columns: repeat(4, 1fr); /* 平均分散4列標題 */
          gap: 10px; 
          text-align: center;
    }

    .order-hr, .donate-order-hr{
          border-color:$blueMem;
          margin: 1rem 0 2rem 0;
    }

    .donate-order{text-align: center;}

    .donate-cell{margin-bottom: 1rem;}

    .donate-title{
      font-size: $p1-l;
      font-weight: 700;
}

    //會員等級

    .button-list{
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          font-weight: 700;
          font-size: 26px;
    }

    .button-list button{
          background-color: transparent;
          border: none;
          font-weight: 700;
          &:hover, &.active{
            color: $white;
          }
    }

    .rectangle {
          width: 220px; 
          height: 5px; 
          background-color: $white; 
          margin-top: 10px; 
    }

    .button-level, .button-explain, .button-benefits{
          color: $blueMem;
    }

    .progress-bar{margin-top: 25px;}
   
     .progress-bar span{
          font-weight: $bold;
          color: $white;
     }

    .line-box{
          margin: 20px 0;
          width: 600px;
          height: 3px;
          background-color: $white;
    }

    .line1{
          width: 300px;
          height: 3px;
          position: relative;
          background-color: $blueMem;
    }

    .line1::before,
    .line1::after {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $blueMem; 
          position: absolute;
    }

    .line1::before {
          position: absolute;
          top: -.3rem;
          left: 3rem;
    }
    
    .line1::after {
          position: absolute;
          top: -.3rem;
          right: 2rem;
    }

    .circle{
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $white; 
          position: absolute;
          left: 23rem;
          top: -.3rem;
    }

    .circle p{
          transform: translate(-1rem,-2rem);
          font-weight: $bold;
    }
   
    .mem-benefits-form{
          display: flex;
          justify-content:space-around;
          margin-top: 50px;
          font-size: $p1-l;
          font-weight: 700;
    }

    .benefit-cell{margin-bottom: 1rem;}
    
    .benefit-order{
          display: grid;
          grid-template-columns: repeat(4, 1fr); 
          gap: 10px; 
          font-size: $p1-l;
          text-align: center;
          padding: 10px;      
          .benefit-cell{
            display: flex;
            margin: auto;
        }
    }

    input[type="checkbox"]{
          width: 20px; 
          margin-right: 5px;
    }

    .input-box{display: flex;}

    .benefit-hr,.benefit-order-hr{
          border-color:$blueMem;
          margin: 10px 0;
    }

    .benefit-order{
      font-size: $p2-l;
    }

    .gift-redemption{
          width: 120px;
          font-size:$p2-l ;
          font-weight: $bold;
          color: $blueMem;
          padding: 10px 15px;
          border: 2px solid $blueMem;
          border-radius: 30px;
          text-align: center;
          margin-top: 10px;
          float: right;
    }

    .explain-level{
          display: block;
          text-align: center;
    }

    .underline{
          width: 150px;
          height: 2px;
          margin-top: 5px;
          background-color: $blueMem;
    }

    .explain-order{
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          gap: 10px; 
          font-size: $p1-l;
          text-align: center;
          padding: 10px;  
          margin-top: 2rem;
          .explain-cell{
            display: flex;
            margin: auto;
          }
    }

    .explain-img{
          position: relative;
          left: -2rem;
    }
    
    .mem-benefits-info{margin-top: 2rem;}

    .info-content{
          color:  $blueMem;
          font-size: $p1-l;
          font-weight: $bold;
          margin-bottom: 2rem;
    }

    .info-content span{
          color:  $blueMem;
          font-weight: $bold;
          margin-left: 20px;
          &:hover, &:active{
            color: $blueL;
          }
  }
   
}

  
@media screen and (min-width: 375px){

      // .container{
      //       max-width: 370px;
      // }
      // .top{
      //       display: block;
      // }
      // .info{
      //       display: flex;
      // }
      // .greeting{
      //       font-size:$h1-m;
      //       display: flex;
      // }
      

}
