
#membercenter{
    body{
        font-family: 'Oswald', 'Roboto Mono','Noto Serif JP', 'Noto Serif TC',  serif;
        background-color: #0E0E0E;
    }
    
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    p{color: $blueMem;}

    .top{
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
    }

    .memtitle{
        display:block;
        font-size: $h1-l; 
        color: $blueMem;
        margin-top: 5rem;
        font-weight: 700;  
        text-align: center;
        letter-spacing: .3rem;
    }


    .info{
        display: flex;
        justify-content: center;
    }

    .upload{
      transform: translateY(-10px);
      & label{
            color: $blueMem;
      }
      & .upload-title{
            font-size: $p1-l;
            margin-left: 30%;
            font-weight: $bold;
      }
      & .UploadImg{
            width: 10rem;
            height: 10rem;
            position: relative;
            background-color: #f0f0f04a;
      }
     .UploadImg img{
           width: 10rem;
           height: 10rem;
     }
      & .UploadImg p{
            position: absolute;
            left: 4.5rem;
            top: 4rem;
            font-size: $p1-l;
            font-weight: $bold;
      }
    }

     input[type="submit"]{
            background-color: $blueMem;
            font-weight: 700;
            padding: 4%;
            border: none;
            border-radius: 10px;;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
     }

    .greeting{
        display: flex;
        flex-wrap: nowrap;
        width: 120%;
        color: $blueMem;
        font-size: $h2-l;
        letter-spacing: .3rem;
        margin-bottom: 10px;
        font-weight: $bold;
        & img{
            margin-right: 10px;
        }
    }


    .mem-box{
        margin-left: 10px;
        line-height: 1.5;
        font-size: $p1-l;
        letter-spacing: .3rem;
    }

    .icon{width: 20%}

    .mem-number{
       font-size: $p2-l;
        line-height: 1.5;
    }

    .sum{
        font-size: 28px;
        font-weight: 700;
        letter-spacing: .3rem;
    }

    .tab-mem-title{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        cursor: pointer;
    } 

    .tab-mem-title button {
        background-color: transparent;
        color:  $blueMem;
        border: none;
        margin-right: 10px;
        cursor: pointer;
    }
    
    .pic.active-pic {
        background-color: #a7e6f9;
      //   border: 2px solid $white;
      //   box-shadow: 10px 10px 30px 0px rgba(1, 193, 253, 0.25);
      box-shadow: inset -1px -1px 10px 10px rgba(1,193,253,20%),
      inset -1px -1px 10px 5px rgba(1,193,253,80%),
      inset 2px 2px 10px 2px rgba(1,193,253,90%)
      2px -4px 10px 2px rgb(91, 19, 236),
      0px 2.525px 8.4825px 0px #06F,
      -0.42412px 0.84825px 0.42412px 0px rgba(255, 255, 255, 0.50);
    }

    .pic{
        width: 72px;
        height:63px;
        border-radius: 10px;
        position: relative;
        border: 2px solid  $blueMem;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .pic img{ 
        position: absolute;
        left: 23%;
        top: 20%;
    }

    .option-tab{
        margin-right: 10px; 
        color: $blueMem;
        cursor: pointer;
    }


    .option-tab:last-child { margin-right: 0; }

    .content{
          margin: auto;
          display: flex; 
          align-items: center; 
          justify-content: center;   
    }

    .information{
          max-width: 850px;
          padding: 50px 80px;
          width: 100%;
          margin: 3rem 0;
          border: 1.8px solid  $blueMem;
          border-radius: 10px;
          background-color: rgba(47, 47, 47, 0.372);
    }

    .donate{
          padding: 2rem ;
          margin: 3rem 0;
          border: 1.8px solid  $blueMem;
          border-radius: 10px;
          background-color: rgba(47, 47, 47, 0.372);
    }

    .account-first-title, .account-sec-title{
          font-size:$h2-l ;
          font-weight: 700;
          text-align: center;
          margin-bottom: 30px;
    }

    .information >span{
          font-size:$p2-l ;
          letter-spacing: .2em;
    }

    .information input{
          width: 300px;
          border-radius: 5px;
          background-color: #01c2fd34;
          border: 2px solid $blueMem;
          margin: 10px 0;
          padding: 5px;
          height: 35px;
          color: $white;
          font-size:$p1-s ;
            &:focus{
              color: $white;
            }
      }

    input[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(1) hue-rotate(180deg);
    }

    #sex > option{color: $black;}

    #name, #mobile, #address{margin-right: 5rem;}

    .all-input{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      gap: 10px; 
     }

    .control-container{
         display: flex;
         justify-content: space-between;
         & p{
            color: $white;
         }
     }
  
    .top-box{
          display: flex;
          justify-content: space-between;
          align-items: center;
    }
 
    #sex{
          width: 300px;
          border-radius: 5px;
          background-color: #01c2fd55;
          border: 2px solid $blueMem;
          margin: 10px 0;
          padding: 5px;
          height: 35px;
    }

    #sex p,#bir p {
          flex: 1; 
          text-align: center; 
      }

    .facebook, .google, .line{
          margin: 1.5rem 0;
    }

    .fb, .google_text, .line_text{
          font-size: $p2-l;
          font-weight:$normal;
          letter-spacing: .2em;
          margin-left: 1rem;
    }

    .google_text, .line_text{
         color: $white;
    }

    .account-hr{
          border-color:$blueMem;
          margin: 2rem 0;
    }

    .password-bottom-container{
          display: flex;
          flex-direction: column; 
          align-items: center;
          justify-content: center; 
    }

    .pw{color: $white;}

    .bottom-button{margin-top: 1.5rem;}

    .red{color: $blueMem}

    //查詢訂單
    .check-order{
          width: 100%;
          padding: 80px 20px 20px 10px;
          max-width: 850px; 
          border: 1.8px solid  $blueMem;
          border-radius: 10px;
          background-color: rgba(47, 47, 47, 0.372);
          margin: 5rem 0;
    }

    .odtitle{
          display: flex;
          justify-content: space-around;
          text-align: center;
          color: $blueMem;
          font-size: $p1-l;
          font-weight: 700;
          margin: 20px 0;
    }

    .odtitle-name{margin-right: 80px;}

    .odtitle-hr{
          border-color:$blueMem;
          margin-bottom: 30px;
    }

    .odnames-container {
          display: grid;
          grid-template-columns: 1fr; 
          grid-gap: 20px;
          padding: 10px; 
    }
    
   
    .oddetail{
          display: flex;
          justify-content: space-around;
          font-size: 18px;
          text-align: center;
    }

    .od-sec {
          display: flex;
          width: 40%;
          & img{
             width: 8rem;
             height: 8rem;
             margin-right: 10px;
            // width: 120px;
            // height: 120px;
          } 
    }

    .trip-content{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          text-align: left;
          line-height: 1.5;
    }

    .client-accordion, .order-amount, .order-date{
         display: flex;
         align-items: center;     
    }

    .order-date{
         margin-left: 30px;
     }

    /* 打開和關閉手風琴面板樣式 */
    .client-accordion {
          background-color: transparent;
          color: $black;
          cursor: pointer;
          text-align: left;
          outline: none;
          font-size: 18px;
          display: flex;
          align-items: center;
          border: none;
          position: relative;
          left: -40px;
          text-align: center; 
          width: fit-content; 
    }

    .client-accordion:hover{
          color: #ffffff;
    }

    .client-accordion span {
         font-size: 40px; 
         font-weight: bold;
         color: $blueMem;   
         margin-right: 20px; 
    }
    
    .client-accordion.active span {
        font-size: 40px; 
        font-weight: bold;
        color: $blueMem;   
    }

    .accordion-icon:before {
        content: "+"; 
        display: inline-block;
        margin-right: 5px; 
        transition: transform 0.3s; 
    }
    
    .accordion-icon.expanded:before {
        content: "-"; 
    }

    .collapse {
          transition: height 800ms cubic-bezier(0.3, 0, 0.6, 1);
          width: 100%;         
    }

    .panel{
          display: flex;
          flex-direction: column;
          margin-top: 3rem;
    }
    
    .p-title{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          margin-bottom: 20px;
          font-weight: $bold;
          text-align: center; 
    }

     .journey-content{ 
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           text-align: center;  
    }
    
     .journey-detail{
           background-color: $blueMem;
           padding: 5px 0;
           border-radius: 10px;   
           margin-bottom: 20px; 
           display: inline-block;
           vertical-align: middle;
           -webkit-transform: perspective(1px) translateZ(0);
           transform: perspective(1px) translateZ(0);
           box-shadow: 0 0 1px rgba(0, 0, 0, 0);
           position: relative;
           -webkit-transition-property: color;
           transition-property: color;
           -webkit-transition-duration: 0.3s;
           transition-duration: 0.3s;
           cursor: pointer;
    }

     .journey-detail:before{
           content: "";
           position: absolute;
           z-index: -1;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           background: $blue;
           -webkit-transform: scaleX(0);
           transform: scaleX(0);
           -webkit-transform-origin: 0 50%;
           transform-origin: 0 50%;
           -webkit-transition-property: transform;
           transition-property: transform;
           -webkit-transition-duration: 0.3s;
           transition-duration: 0.3s;
           -webkit-transition-timing-function: ease-out;
           transition-timing-function: ease-out;
           border-radius: 10px;
     }

     .journey-detail p:hover, .journey-detail p:focus, .journey-detail p:active {
           color: $white;
    }
    .journey-detail:hover:before, .journey-detail:focus:before, .journey-detail:active:before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
    }
   
     .journey-detail p{
           color: $black;
           font-weight: 700;
           cursor: pointer;
     }


    .journey-hr{
          border-color:$blueMem;
          margin-bottom: 15px;
    }
    //彈窗
    .popupBooking{
         width: 98%;
         max-width: 420px;
         height: 45rem;
         position: absolute;
         top: 20%; 
         left: 50%; 
         transform: translate(-50%, 70%); 
         text-align: center;  
         background-color: $blueMem;
      //    padding: 3%;
         z-index: 999;
         clip-path: polygon(9% 100%, 0 90%, 0% 0%, 100% 0%, 100% 100%);
    }

     //黑線
     .popupBooking::after{
         content:'';
         width: 100%;
         height: .3rem;
         display: block;
         top: 7rem;
         left: -.3rem;
         position: absolute;
         background-color: $black;
         margin-top: .5rem;
    } 

    .popupBooking button{
         position: absolute;
         right: 0;
         top: 0;
         background-color: $black;
         letter-spacing: .2rem;
         font-weight: 700;
         font-size: 28px;
         padding: 1%;
         border: none;
         color: $blueMem;
         font-size: $p1-l;
         cursor: pointer;
   }

    .bookingInfo {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 100%; 
    }

    .bookingInfoBox {
         flex: 1; 
    }

    .bookingTitle{
         font-size: $h2-l;
         color: $black;
         font-weight: 700;
         display: block;
         margin-top: 1.5rem;
    }

    .bookingTotalPassanger{
         color: $black;
         font-size: $p1-l;
         font-weight: 700;  
         margin-left: 2rem;
         margin-top: 1rem;
    }

    .bookingForm{
         position: absolute;
         margin-top: 1rem;
         display: flex;
         flex-wrap: wrap;
         align-items: flex-start;   
         justify-content: center;
    }

    
    .bookingId{
         color: $black;
         font-size: $p2-l;
      //    font-weight: 700;
         margin-bottom: 6%;
         margin-top: 3rem;
    }

    .booking-container{
         width: 100%; 
         margin: 0 auto; 
         text-align: center;
         display: flex;
         justify-content: space-between;
         gap: 15px;
         position: relative;
         margin-bottom: 2%;
         & p{
            color: $white;
            margin-top: 2%;
         }
    }

    .diet{
      font-size: 13px;
    }

    .bookingLastName, .bookingFirstName, .bookingSex, .bookingBirthday,
    .bookingCountry, .bookingPassport, .bookingSize, .bookingDiet,
    .bookingSuit, .bookingTravelStatus
    {
         width: 10rem;
         max-width: 300px;
         border-radius: 5px;
         background-color: $black;
         margin-top: 1.2rem;
         padding: 5px;
         height: 35px;
         color: $black;
         font-size:$p1-s ;
         position: relative;
         text-align: center;
   }

  
   .bookingSecondTitle{
         position: absolute;
         top: -20px; 
         left: 0;
         color: $black;
         font-size: $p2-s;
   }

   .bookingCheck{
         display: flex;
         align-items: end;
         justify-content: space-evenly;
      //    width: 200px;
         margin-bottom: 1rem;
            & p{
            color: $black;
            font-weight: 700;
        }
   }


.myCheckbox[type="checkbox"]::before {
         content: "";
         display: inline-block;
         width: 20px; 
         height: 20px;
         position: relative;
         top: -4px;
         right: 7px;
    }
    
    /* 選中 */
    .myCheckbox[type="checkbox"]:checked::before {
         background-color: $black; 
         border-color: $black; 
    }
    
    /* 勾勾*/
    .myCheckbox[type="checkbox"]::after {
         content: "\2713"; 
         display: block;
         font-size: 16px; 
         color: $white; 
         position: absolute;
         top: 20%; 
         left: -1%; 
         line-height: 1;
    }
    
   .bookingLineBox{
         margin: 20px 0;
         height: 3px;
         position: relative;
   }

   .bookingLine{
         width: 100%;
         height: 3px;
         background-color: $black;
         display: flex;
         justify-content: space-between; 
   }

   .bookingLine2{
        width: 30%;
        height: 3px;
        background-color: $black;
        position: absolute;
        left: 50%;
   }

   .bookingCircle{
         width: 12px;
         height: 12px;
         border-radius: 50%;
         background-color: $black; 
         position: absolute;
         top: -.3rem;
   }

   .paymentStatus{
         color: $black;
         text-align: left;
         margin-top: 3%;
         line-height: 1.2;
         margin-top: 1rem;
         font-size: $p2-s;
   }

   .bookingCircle2{
         width: 12px;
         height: 12px;
         border-radius: 50%;
         background-color: $white;
         border: 2px solid $black;
         position: absolute;
         top: -.3rem;
         left: 10rem;
   }

   
   .paymentStatus2{
        color: $black;
        font-size: $p2-s;
        line-height: 1.2;
        margin-top: 1rem;
        right:  40%;
        
        position: absolute;
         & span{
          font-size: $p2-l;
          font-weight: 700;
          color: $black;
   }
  }

  .bookingCircle3{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $blueMem;
        border: 2px solid $black; 
        position: absolute;
        top: -.3rem;
        right: 0;
  }

.paymentStatus3{
      font-size: $p2-s;
      color: $black;
      margin-top: 15%;
      text-align: center;
      margin-top: 1rem;
      right: 0;
  }

  .notice{
      color: $black;
      font-weight: 700;
      position: absolute;
      bottom: -20%;
      // transform: translate(20%, 20%);
  }





   
    //捐款明細

    .form{
          display: flex;
          flex-direction: column;
    }

    .donate-top{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          position: relative;
    }

    .account-first-title {
          flex: 1; 
    }

    .last-year {
          position: absolute;
          right:0;
          top: -2%;
          font-weight: 700;
          padding: 10px 15px;
          border: 2px solid $blueMem;
          border-radius: 30px;
          color: $blueMem;
          cursor: pointer;
    }

    //遮罩
    .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.824); 
    }
      //彈窗
    .popup {
          width: 98%;
          max-width: 420px;
          height: 30rem;
          position: absolute;
          top: 1%;
          background-color: $blueMem;
          padding: 20px;
          clip-path: polygon(9% 100%, 0 90%, 0% 0%, 100% 0%, 100% 100%);
      }
    
     //黑線
     .popup::after{
         content:'';
         width: 110%;
         height: .2rem;
         display: block;
         top: 6rem;
         left: -.3rem;
         position: absolute;
         background-color: $black;
    } 

    .popup button{
        position: absolute;
        top: 0;
        right: 0;
        background-color: $black;
        letter-spacing: .2rem;
        font-weight: 700;
        font-size: 28px;
        padding: 1%;
        border: none;
        color: $blueMem;
        font-size: $p1-l;
        cursor: pointer;
    }

    .receipt-title{
         margin-top: 10%;
         margin-bottom: 5%;
         & p{
            color: $black;
            font-weight: 700;
         }
     }

  .receipt-order{
         margin-top: 5%;
         display: flex;
         align-items:center ;
         & .receipt-cell p{
            color: $black; 
       }
     }

     .receipt-hr{
      width: 100%;
     }
    .last-year-according{
          font-size: $h2-l;
          color: $black;
          font-weight: 700;
          text-align: center;
          display: block;
          margin-top: 1rem;
    }

    .popup hr{border-color: $black;}

    .receipt-cell{
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
   
    .order-title, .donate-order, .receipt-title {
          display: grid;
          grid-template-columns: repeat(4, 1fr); 
          gap: 10px; 
          text-align: center;
          font-size: $p1-l;        
    }

    .order-title{
         font-weight: 700;
    }   

    .receipt-order{
         display: grid;
         grid-template-columns: repeat(4, 1fr); 
         text-align: center;
         margin: auto;
      }   
   
    .order-hr, .donate-order-hr{
          border-color:$blueMem;
          margin: 1rem 0 2rem 0;
    }

    .donate-order{
      text-align: center;
      font-size: $p1-l;
    }

    .donate-cell{margin-bottom: 1rem;}


    //會員等級

    .mem-benefit{
      max-width: 850px;
      padding: 5%;
      width: 100%;
      margin: 3rem 0;
      border: 1.8px solid  $blueMem;
      border-radius: 10px;
      position: relative;
      background-color:rgba(47, 47, 47, 0.372);
}


    .button-list{
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          font-weight: 700;
          font-size: 26px;
    }

    .button-list button{
          background-color: transparent;
          border: none;
          font-weight: 700;
          &:hover, &.active{
            color: $white;
          }
    }

    .rectangle {
          width: 240px; 
          height: 5px; 
          background-color: $white; 
          margin-top: 10px; 
    }

    .button-level, .button-explain, .button-benefits{
          color: $blueMem;
    }

    .progress-bar{margin-top: 25px;}
   
     .progress-bar span{
          font-weight: $bold;
          color: $white;
     }

    .line-box{
          margin: 20px 0;
           height: 3px;
          position: relative;
          background-color: $white;
    }

    .line1{
          width: 300px;
          height: 3px;
          position: absolute;
          background-color: $blueMem;
    }

    .line1::before{
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $blueMem; 
          position: absolute;
          top: -.3rem;
          left: 3rem;
    }


    .circle3{
         width: 12px;
         height: 12px;
         border-radius: 50%;
         background-color:  $blueMem; 
         position: absolute;
         left: 13rem;
         top: -.3rem;
          & p{
          transform: translate(-.1rem,1rem);
          font-weight: $bold;
          color: $white;
      }
}


    .circle{
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $white; 
          position: absolute;
          left: 23rem;
          top: -.3rem;
          & p{
            transform: translate(-1rem,-2rem);
            font-weight: $bold;
          }
      }


    .circle2{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: $white; 
            position: absolute;
            left: 35rem;
            top: -.3rem;
      }
   
    .mem-benefits-form{
          display: flex;
          justify-content:space-around;
          margin-top: 60px;
          font-size: $p1-l;
          font-weight: 700;
    }

    .benefit-cell{margin-bottom: 1rem;}
    
    .benefit-order{
          display: grid;
          grid-template-columns: repeat(4, 1fr); 
          gap: 10px; 
          font-size: $p1-l;
          text-align: center;
          padding: 10px;      
          .benefit-cell{
            display: flex;
            margin: auto;
        }
    }

    .input-box > input[type="checkbox"]{
          width: 1rem; 
          margin-right: 5px;
    }

    .input-box{display: flex;}

    .benefit-hr,.benefit-order-hr{
          border-color:$blueMem;
          margin: 10px 0;
    }

    .benefit-order{
          font-size: $p1-l;
    }

    .gift-redemption{
          width: 120px;
          font-size:$p1-l ;
          font-weight: $bold;
          color: $blueMem;
          padding: 2%;
          border: 2px solid $blueMem;
          border-radius: 30px;
          text-align: center;
          margin-top: 10px;
          float: right;
          cursor: pointer;
    }

      //彈窗
      .popupGift {
            width: 98%;
            max-width: 420px;
            height: 33rem;
            position: absolute;
            top: 50%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            text-align: center; 
            background-color: $blueMem;
            padding: 2%;
            clip-path: polygon(9% 100%, 0 90%, 0% 0%, 100% 0%, 100% 100%);
    }
      
       //黑線
       .popupGift::after{
           content:'';
           width: 100%;
           height: .3rem;
           display: block;
           top: 6rem;
           left: -.3rem;
           position: absolute;
           background-color: $black;
    } 
  
      .popupGift button{
           position: absolute;
           top: 0;
           right: 0;
           background-color: $black;
           letter-spacing: .2rem;
           font-weight: 700;
           font-size: 28px;
           padding: 1%;
           border: none;
           color: $blueMem;
           font-size: $p1-l;
           cursor: pointer;
    }

      .successful{
            font-size: $h2-l;
            color: $black;
            font-weight: 700;
            text-align: center;
            display: block;
            margin-top: 1rem;
    }

      //打勾
      .tick{
            position: absolute;
            left: 30%;
            top: 25%;
      }
      
      .path-tick {
            stroke-dasharray: 100%;
            animation: dash 0.6s linear forwards;
      }
      
      @keyframes dash {
            0% {
            stroke-dashoffset: 100%;
            }
            60% {
            stroke-dashoffset: 100%;
            }
            100% {
            stroke-dashoffset: 0;
            }
      }
      

   .exchangeText{
          position: absolute;
          display: block;
          margin: auto;
          text-align: center;
          line-height: 1.5;
          top: 60%;
          left: 20%;
          font-size: $p1-l;
          font-weight: $bold;
          & p{
            color: $black;
          }
          & span{
            color: $blue;
            font-weight: 700;
          }
   }

   

   .exchange {
         font-size: $p1-l;
         color: $black;
   }
  

    .explain-level{
          display: block;
          text-align: center;
    }
    

    .underline{
          width: 110px;
          height: 2px;
          margin-top: 5px;
          background-color: $blueMem;
    }

    .explain-order{
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          gap: 10px; 
          font-size: $p1-l;
          text-align: center;
          padding: 10px;  
          margin-top: 2rem;
          .explain-cell{
            display: flex;
            margin: auto;
          }
    }

    .explain-img{
          position: relative;
          left: -2rem;
    }
    
    .mem-benefits-info{margin-top: 3rem;}

    .info-content{
          color:  $blueMem;
          font-size: $p1-l;
          font-weight: $bold;
          margin-bottom: 2rem;
          line-height: 1;
  
    }

    .info-content span{
          color:  $blueMem;
          font-weight: $bold;
          margin-left: 20px;
          &:hover, &:active{
            color: $blueL;
          }
  }

}

@media screen and (min-width:1200px) {}

@media screen and (max-width:1200px) {}
  
@media screen and (max-width:768px) {
      .memtitle h2{
            font-size: $h1-m;
      }
      .top{
            flex-direction: column;
            align-items: center;
            
      }
      .mem-box{
            width: 100%;
            line-height: 1.2;
      }
      .greeting p{
             font-size: 28px; 
             
      }
      .nickname{
            font-size:22px; 
      }
      .tab-mem-title{
            // margin-right: 4rem;
            margin-top: 3rem;
      }
      
      .option-tab.active {
            cursor: pointer; 
      }

      .information{
            display: flex;
            justify-content: center;
            
      }
      .account-first-title {
            font-size: $h2-s; 
      }
      .control-container{
            flex-direction: column;
            width: 100%; 
            max-width: 300px; 
            margin: 0 auto; 
      }
      .top-box{
            flex-direction: column;
      }
      //查詢訂單
      .odtitle, .order-amount, .order-date{
            display: none !important;
      }
      .odname{
            width: 100%;
            background-color: #11111180;
      }
      .oddetail{
            // flex-direction: column;
            align-items: center;
      }
      .od-sec{
            flex-direction: column;
      }
      .trip-content{
            color: $blueMem;
            font-size: $p2-m;     
      }
      .rwdAmount, .rwdDate{
            display: block;
            color: red;
            font-size: $p2-m; 
      }
      .rwdPassanger{
            font-size: $p2-m;
            display: block;
      }
      .journey-content {
            font-size: 14px;
      }
      .journey-detail-rwd{  
            margin-bottom: 20px; 
            padding: 1%;
            border-radius: 5px;
            cursor: pointer;
            background-color: $blueMem;
      }
      .journey-detail-rwd:active{  
            background-color: $blue;
      }
      .journey-detail-rwd span{
            color: $black;
            font-weight: 700; 
      }
      .journey-detail-rwd span:active{
            color: $white;
      }
       .bookingForm{
            top: 40%; 
            left: 50%; 
            transform: translate(-50%, -54%); 
      }
       .bookingId{
            margin: auto;
      }
      .bookingCheckRwd{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 200px;
               & p{
               color: $black;
               font-weight: 700;
           }
      }
      .myCheckboxRwd[type="checkbox"]::before {
            content: "";
            display: inline-block;
            width: 20px; 
            height: 20px;
            position: relative;
            top: -4px;
            right: 5px;
       }
       /* 選中 */
      .myCheckboxRwd[type="checkbox"]:checked::before {
            background-color: $black; 
            border-color: $black; 
      }
 
      /* 勾勾*/
      .myCheckboxRwd[type="checkbox"]::after {
            content: "\2713"; 
            display: block;
            font-size: 16px; 
             color: $white; 
            position: absolute;
            top: 20%; 
            left: -1%; 
            line-height: 1;
      }
      .checkBoxText{
            color: $black;
      }
   

      //捐款紀錄
      .order-title  p{
            font-size: $p2-m;
      }
      .donate-order p{
            font-size: $p2-m;
      }
      .form{
            position: relative;
      }
      .rwdLast{
            position: absolute;
            right: 0;
            top: 97%;
            padding: 5px 10px;
            border: 2px solid $blueMem;
            border-radius: 30px;
            color: $blueMem;
            cursor: pointer; 
            font-weight: $bold;
      }
      .popup .last-year-according{
            font-size: $h1-m;
            right: 20%;
      }
      .receipt-title p{
            font-size: 14px;
            margin-top: 15%;
      }
      .receipt-order p{
            font-size: 14px;
      }
     
      //會員等級
      .button-list button{
            font-size: 18px; 
            
      }
      .level-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            .nowLevel{
                  margin-bottom: 1rem;
            }
      }
      .mem-benefits-form p{
            font-size: $p2-m;
      }
      .benefit-order p{
            font-size: $p2-m;
      }
      .explain-order p{
            font-size: $p2-m;
      }
      .explain-order{
            display: flex;
      }
      .gift-redemption-rwd{
            font-size: $p2-s;
            width: 120px;
            font-weight: $bold;
            color: $blueMem;
            padding: 2%;
            border: 2px solid $blueMem;
            border-radius: 30px;
            text-align: center;
            margin-top: 10px;
            float: right;
            cursor: pointer;
      }
      .exchangeText p{
            font-size: $p2-m;
      }

      .mem-benefits-info-rwd{
            display: flex;
            justify-content: space-evenly;
            font-size:$p2-m;
            font-weight: $bold;
            line-height: 1.5;
            margin-top: 10%;
            color: $blueMem;
           
      }
      .mem-benefits-info-rwd span{
            color: $blueMem;
      }
      .mem-benefits-info-rwd span:hover{
            color: $purple;
      }
}

@media screen and (max-width:375px) {}

//button效果
// @font-face {
//       font-family: Cyber;
//       src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
//       font-display: swap;
//     }
    
//     * {
//       box-sizing: border-box;
//     }
    
//     body {
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       justify-content: center;
//       min-height: 100vh;
//       font-family: 'Cyber', sans-serif;
//     }
    
//     body .cybr-btn + .cybr-btn {
//       margin-top: 2rem;
//     }
    
//     .cybr-btn {
//       --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
//       --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
//       --primary-hue: 260;
//       --primary-lightness: 50;
//       --color: hsl(0, 0%, 100%);
//       --font-size: 16px;
//       --shadow-primary-hue: 180;
//       --label-size: 9px;
//       --shadow-secondary-hue: 60;
//       --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
//       --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
//       --border: 4px;
//       --shimmy-distance: 5;
//       --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
//       --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
//       --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
//       --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
//       --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
//       --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
//       --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
//       font-family: 'Cyber', sans-serif;
//       color: var(--color);
//       cursor: pointer;
//       background: transparent;
//       text-transform: uppercase;
//       font-size: var(--font-size);
//       outline: transparent;
//       letter-spacing: 2px;
//       position: relative;
//       font-weight: 700;
//       border: 0;
//       width: 229px;
//       height: 50px;
//       line-height: 50px;
//       transition: background 0.2s;
//     }
    
//     .cybr-btn:hover {
//       --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
//     }
//     .cybr-btn:active {
//       --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
//     }
    
//     .cybr-btn:after,
//     .cybr-btn:before {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       clip-path: var(--clip);
//       z-index: -1;
//     }
    
//     .cybr-btn:before {
//       background: var(--shadow-primary);
//       transform: translate(var(--border), 0);
//     }
    
//     .cybr-btn:after {
//       background: var(--primary);
//     }
    
//     .cybr-btn__tag {
//       position: absolute;
//       padding: 1px 4px;
//       letter-spacing: 1px;
//       line-height: 1;
//       bottom: -5%;
//       right: 5%;
//       font-weight: normal;
//       color: #fff;
//       font-size: var(--label-size);
//     }
    
//     .cybr-btn__glitch {
//       position: absolute;
//       top: calc(var(--border) * -1);
//       left: calc(var(--border) * -1);
//       right: calc(var(--border) * -1);
//       bottom: calc(var(--border) * -1);
//       background: var(--shadow-primary);
//       text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
//       clip-path: var(--clip);
//       animation: glitch 2s infinite;
//       display: none;
//     }
    
//     .cybr-btn:hover .cybr-btn__glitch {
//       display: block;
//     }
    
//     .cybr-btn__glitch:before {
//       content: '';
//       position: absolute;
//       top: calc(var(--border) * 1);
//       right: calc(var(--border) * 1);
//       bottom: calc(var(--border) * 1);
//       left: calc(var(--border) * 1);
//       clip-path: var(--clip);
//       background: var(--primary);
//       z-index: -1;
//     }
    
//     @keyframes glitch {
//       0% {
//         clip-path: var(--clip-one);
//       }
//       2%, 8% {
//         clip-path: var(--clip-two);
//         transform: translate(calc(var(--shimmy-distance) * -1%), 0);
//       }
//       6% {
//         clip-path: var(--clip-two);
//         transform: translate(calc(var(--shimmy-distance) * 1%), 0);
//       }
//       9% {
//         clip-path: var(--clip-two);
//         transform: translate(0, 0);
//       }
//       10% {
//         clip-path: var(--clip-three);
//         transform: translate(calc(var(--shimmy-distance) * 1%), 0);
//       }
//       13% {
//         clip-path: var(--clip-three);
//         transform: translate(0, 0);
//       }
//       14%, 21% {
//         clip-path: var(--clip-four);
//         transform: translate(calc(var(--shimmy-distance) * 1%), 0);
//       }
//       25% {
//         clip-path: var(--clip-five);
//         transform: translate(calc(var(--shimmy-distance) * 1%), 0);
//       }
//       30% {
//         clip-path: var(--clip-five);
//         transform: translate(calc(var(--shimmy-distance) * -1%), 0);
//       }
//       35%, 45% {
//         clip-path: var(--clip-six);
//         transform: translate(calc(var(--shimmy-distance) * -1%));
//       }
//       40% {
//         clip-path: var(--clip-six);
//         transform: translate(calc(var(--shimmy-distance) * 1%));
//       }
//       50% {
//         clip-path: var(--clip-six);
//         transform: translate(0, 0);
//       }
//       55% {
//         clip-path: var(--clip-seven);
//         transform: translate(calc(var(--shimmy-distance) * 1%), 0);
//       }
//       60% {
//         clip-path: var(--clip-seven);
//         transform: translate(0, 0);
//       }
//       31%, 61%, 100% {
//         clip-path: var(--clip-four);
//       }
//     }
  