div{
    width: 90%;
    background-color: gray;
    margin: 40px auto 0 auto;
    height: auto;
}
h1 {
    font-size: 60px;
  }
  .pagination{
    color: white;
  }

.cimgs{
  margin-top: 30px;
  width: 84%;
  img{
    width: 100%;
  }
}