.carousel{
    width: 90%;
    background-color: transparent;
    margin: 0px auto 0 auto;
    height: auto;
}
.cybr-btn {
  min-width: 0px;
  max-width: 100%;
  margin-top: 10px;
  height: 160%;
}
.cybr-btn  p{
  font-size: 12px;
}


.order-last{
  width: 100%;
  .spacesuit{
    text-align: center;
    margin: 20px;
    font-size: 32px;
    h4{
      margin-bottom: 14px;
      letter-spacing: 1px;
    }
    h5{
      letter-spacing: 2px;
    }
  }
  .order-a{
    position: relative;
    width: 100%;
    height: 260px;
    // border:1px solid red;
    canvas{
      display: none;
      position: absolute;
      top: -10px;
      left: -120px;
      // border:1px solid blue;
      width: 100%;
      height: 100%;
      cursor: grab;
    }
    .spacesuit-size{
      position: absolute;
      top: 0;
      right: 50%;
      width: 80%;
      z-index: 2;
      display: flex;
      flex-flow: column wrap;
      // border: 1px solid red;
      transform: translateX(50%);
      
      h5{
        text-align: center;
        margin: 20px 0 10px 0;
        font-size: 16px;
        
      }
      .clothe{
        margin: 40px auto 20px auto;
        display: flex;
        justify-content:start;
        align-items: center;
        border: 1px solid $white;
        border-radius: 5px;
        letter-spacing: 3px;
        padding: 2px;
        width: 100%;
      }
      .color-containerAll{
        display: flex;
        flex-flow: row wrap;
        .color-container{
          text-align: center;
          width: 49%;
          // border: 1px solid red;
          display: flex;
          flex-flow: column wrap;
          margin: 10px 0;
          .cantsee{
            display: none;
          }

        .color-show{
            margin: 5px auto 5px auto;
            width: 80%;
            height: 20px;
            cursor: pointer;
            border: none;
          }
          .white{
            background-color: #fff;
          }
          .gray{
            background-color: #7b7b7b;
          }
          .blue{
            background-color: blue;
          }
          .yellow{
            background-color: yellow;
          }
        }
      }
      
    }
  }
}



@media (min-width: 480px) {
  .order-last{
    width: 100%;
    .spacesuit{
      text-align: center;
      margin: 20px;
      font-size: 32px;
      h4{
        margin-bottom: 14px;
        letter-spacing: 1px;
      }
      h5{
        letter-spacing: 2px;
      }
    }
    .order-a{
      position: relative;
      width: 100%;
      height: 420px;
      // border:1px solid red;
      canvas{
        display: block;
        position: absolute;
        top: -10px;
        left: -120px;
        // border:1px solid blue;
        width: 100%;
        height: 100%;
      }
      .spacesuit-size{
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        z-index: 2;
        display: flex;
        flex-flow: column wrap;
        // border: 1px solid red;
        transform: translateX(0%);
        
        h5{
          text-align: center;
          margin: 20px 0 10px 0;
          font-size: 20px;
          
        }
        .clothe{
          margin: 40px auto 20px auto;
          display: flex;
          justify-content:start;
          align-items: center;
          border: 1px solid $white;
          border-radius: 5px;
          letter-spacing: 3px;
          padding: 2px;
          width: 90%;
        }
        .color-containerAll{
          display: flex;
          flex-flow: row wrap;
          .color-container{
            text-align: center;
            width: 49%;
            // border: 1px solid red;
            display: flex;
            flex-flow: column wrap;
            margin: 10px 0;
            .cantsee{
              display: none;
            }
  
          .color-show{
              margin: 5px auto 5px auto;
              width: 80%;
              height: 20px;
              cursor: pointer;
              border: none;
            }
            .white{
              background-color: #fff;
            }
            .gray{
              background-color: #7b7b7b;
            }
            .blue{
              background-color: blue;
            }
            .yellow{
              background-color: yellow;
            }
          }
        }
        
      }
    }
  }
}


.alert{
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  width: 50%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.817);
  color: white;
  border: 2px solid $blue;
  display: grid;
  place-items: center;
 p{
  position: absolute;
  top: 10px;
  right: 10px;
 }
 img{
  width: 24px;
  height: 24px;
  border-radius: 4px;
 }
 p:hover{
  cursor: pointer;
 }
}


.firstM{
  // width: 100%;
  height: 100px;
  margin-top: 100px;
  overflow: hidden;
  img{
    width: 100%;
    opacity: 80%;
  }
}
.passengerInfo{
  .cabin{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-image: url(@/assets/image/orderProcess/cabinBg1.svg);
  background-position: 80% 50%;
  background-size: 106%;
  background-repeat: no-repeat;
 
  .cabin-all{
    margin: 20%;
    margin-left: 25%;
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    justify-content: space-around;
    position: relative;
    
    
    .cabin-per{
      width:16%;
      padding-top: 20%;
      background-color: #bfbfbf; 
      background-image: url(@/assets/image/orderProcess/cabin1.svg);
      background-size: cover;
      margin: 4% 2%;
      border: 2px solid $blueL;
      position: relative;
    }
    .class1::after{
      content: "1";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
      font-size: 16px;
    }
    .class2::after{
      content: "2";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class3::after{
      content: "3";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class4::after{
      content: "4";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class5::after{
      content: "5";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class6::after{
      content: "6";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class7::after{
      content: "7";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class8::after{
      content: "8";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class9::after{
      content: "9";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
    font-size: 16px;
    }
    .class10::after{
      content: "10";
      position: absolute;
      left: 50%;
      top: 50%;
      color: $white;
      transform: translate(-50%,-50%);
      font-size: 16px;
    }
    div:hover{
      cursor: pointer;
      background-color: $blue; 
      box-shadow: 0px 0px 2px white;
    }
    div:hover::after{
      
        color:$white;
      
    }
    div.disable{
      opacity: 50%;
      cursor: default;
    }
    div.disable:hover{
      color: $blue;
      background-color: #bfbfbf;
    }
    div.disable:hover ::after {
        
          color: black !important;
        
      }
    
    .cabin-chose{
      position: absolute;
      top: 50%;
      right: -20%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue;
      cursor: auto;
      span{
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: antiquewhite;
        font-size: 20px;
        cursor: auto;
      }
      

    }
  }
 
}
}
.confirm-Order{
  color: $white;
  background-color: #0e0e0e;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(213, 213, 213, 0.795); /* 半透明的黑色背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 使模态对话框位于其他元素上方 */
  .confirm-contain{
    width: 80%;
    background-color: rgba(33, 33, 34, 0.936);
    margin-top: 36px;
    border: 1px solid $blueL;
  }
  div{
    margin: 10px;
  }
  .confirm-content-container{
    height: 400px;
    overflow: auto;
  }
  .confirm-content{
    color: $white;
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    z-index: 120;
    
    .order-finall{
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      justify-content: space-between;
      margin-left: 0;
      z-index: 20;
    }

  }
  .confirm-title{
    font-size: 32px;
    margin: 10px;
   
    h2{
      text-align: center;
      margin: 24px;
      margin-bottom: 40px;
    }
    h3{
      text-align: right;
      font-size: 18px;
      margin: 8px;
    }
   
  }
  .order-finall-btn:hover{
    cursor: pointer;
  }
}
div.fororbitbg{
  margin-top:0;
  height: 700px
}
.title{
  max-width: 1200px;
  margin: 0 auto 0 auto;
  position: absolute;
  left: 50%;
  top: 84px;
  transform: translateX(-50%);
  color: $white;
  width: 100%;
  text-align: center;
  h1{
    font-size: 32px;
  }
  h2{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
  }

}

.place1{
  max-width: 1200px;
  margin: 0 auto 0 auto;
  width: 100%;
  position: relative;
  .card-planet{
    display: none;
  }
  
  .introduce-container{
    z-index: 5;
    width: 80%;
    margin: 50px auto 0 auto;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.754);
    border-radius: 10px;
    box-sizing: content-box;
    padding: 50px;
    height: 300px;    
     .introduce{
       .button-container{
         width: 100%;
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
        
         button{
           border: 1px solid rgb(129, 129, 129);
           background-color: transparent;
           color: rgb(140, 140, 140);
           padding: 10px;
           box-sizing: border-box;
           font-size: 14px;
           
         }
         button:hover{
           cursor: pointer;
           border: 1px solid $white;
           background-color: transparent;
           color: $white;
           text-shadow: 
           -1px -1px 15px rgba(255, 255, 255, 0.35), /* 上左方向陰影，白色 */
           1px -1px 15px rgba(255, 255, 255, 0.35),  /* 上右方向陰影，白色 */
           -1px 1px 15px rgba(255, 255, 255, 0.35),  /* 下左方向陰影，白色 */
           1px 1px 15px rgba(255, 255, 255, 0.35);    /* 下右方向陰影，白色 */
         }
         button.btn-active{
           cursor: pointer;
           border: 1px solid $white;
           background-color: transparent;
           color: $white;
           text-shadow: 
           -1px -1px 15px rgba(255, 255, 255, 0.35), /* 上左方向陰影，白色 */
           1px -1px 15px rgba(255, 255, 255, 0.35),  /* 上右方向陰影，白色 */
           -1px 1px 15px rgba(255, 255, 255, 0.35),  /* 下左方向陰影，白色 */
           1px 1px 15px rgba(255, 255, 255, 0.35);    /* 下右方向陰影，白色 */
         }
       }
       .introduce-p{
         h3{
           font-size: 30px;
           color: $white;
           margin: 30px 0 30px 0;
           text-shadow: 
       -1px -1px 15px rgba(255, 255, 255, 0.3), /* 上左方向陰影，白色 */
       1px -1px 15px rgba(255, 255, 255, 0.3),  /* 上右方向陰影，白色 */
       -1px 1px 15px rgba(255, 255, 255, 0.3),  /* 下左方向陰影，白色 */
       1px 1px 15px rgba(255, 255, 255, 0.3);    /* 下右方向陰影，白色 */
         }
         h4{
           margin-top: 0px;
           margin-bottom: 20px;
           color: $white;
           font-size: 18px;
           font-weight: 600;
         }
         p{
           color: $white;
           line-height: 1.55;
           font-size: 16px;
         }
       }
     }
     
   }
}
.place2{
  margin: 0 auto 0 auto;
  max-width: 1200px;
  margin-top: 80px;
  width: 100%;
  position: relative;
  .location{
    display: none;
  }
  .travelInfo-conatiner{


    width: 100%;
    background-color: rgba(5, 4, 4, 0.687);
    z-index: 20;
    padding: 2%;
    border-radius: 20px;
    h3,h4{
      text-align: center;
      margin-bottom: 20px;
      color: $white;
      //  text-shadow: 
      //     -1px -1px 15px rgba(255, 255, 255, 0.35), /* 上左方向陰影，白色 */
      //     1px -1px 15px rgba(255, 255, 255, 0.35),  /* 上右方向陰影，白色 */
      //     -1px 1px 15px rgba(255, 255, 255, 0.35),  /* 下左方向陰影，白色 */
      //     1px 1px 15px rgba(255, 255, 255, 0.35);    /* 下右方向陰影，白色 */
    }
    h3{
      font-size: 30px;
      font-weight: 700;
    }
    h4{
      font-size: 16px;
      font-weight: 700;
    }
    ul{
      display: flex;
      flex-flow: column wrap;
      color: $white;
      li{
        font-size: 14px ;
        width: 100%;
        display: flex;
        align-items: center;
        margin:15px 0;
        .box{
          height: 50px;
          width: 50px;
          display: grid;
          place-items: center; 
          border: 1px solid $white;
          margin:0 5%;
        }
        .itemp{
          width: 80%;
          line-height: 1.5;
          font-weight: 300;
          a{
            font-weight: 700;
            color: $blue;
          }
  
        }
      }
    }
  }

}
.place3{
  margin: 0 auto 0 auto;
  max-width: 1200px;
margin-top: 80px;
  position: relative;
  margin-bottom: 100px;
  .card-planet3{
    display: none;
  }
  .itinerary-cotainer{

    margin-top: 100px;
    height: 130px;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 50px auto 50px auto;
    z-index: 20;
    .itinerary-c{
      background-color: $white;
      clip-path: polygon(0% 0%, 100% 0, 100% 75%, 90% 100%, 0% 100%);
      display: grid;
      place-items: center; 
      text-align: center;
      line-height: 1.4;
      border-radius: 8px;
      font-size: 16px;
      width: 100%;
    }
    .itinerary-d{
      display: grid;
      place-items: center; 
      text-align: center;
      line-height: 1.5;
      border: 1px solid $white;
      height: 40%;
      border-radius: 8px;
      margin-top: 20px;
      font-size: 14px;
      width: 40%;

      img{
        margin-top: 10px;
      }
    }
    .itinerary-d:hover{
     background-color: $white;
     color: $black;
     cursor: pointer;
    }
    
  }
  
  .itinerary-cotainer2{
 
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    .inL{
      background-color: $white;
      clip-path: polygon(0% 0%, 100% 0, 100% 75%, 90% 100%, 0% 100%);
      display: grid;
      place-items: center; 
      text-align: center;
      line-height: 1.4;
      border-radius: 8px;
      font-size: 16px;
      width: 100%;
      height: 50px;
    }
    .inR{
      width: 100%;
      display: flex;
      justify-content: start;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      line-height: 1.5;
      border-radius: 8px;
      font-size: 14px;
      .itinerary-d{
        color: $white;
        font-size: 14px;
        line-height: 1.5;
        border: 1px solid $white;
        border-radius: 8px;
        margin:10px 5px 0px 0 ;
        width: 48%;
        padding: 5px 10px;
        
        .space{
          margin-top: 20px;
        }
        h5{
          margin-top: 5px;
        }
        
      }
      .itinerary-d:hover{
        color: $black;
        background-color: $white;
        cursor: pointer;
      }
    }
  }
}


h1 {
  
  max-width: 1200px;
    font-size: 60px;

  }
  .pagination{
    color: white;

  }

.cimgs{
  
  max-width: 1200px;
  margin-top: 20px;
  width: 84%;
  img{
    width: 100%;
  }
}

.passengerInfo{
  top: 0;
  max-width: 1200px;
  position: sticky;
  width: 100%;
  margin: 0px auto 40px auto;
  color: azure;;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;

  .order-detail{
    position: relative;
    top: 0;
    width: 80%;
    margin: 0px 0 160px 0 ;
    .click{
      width: 36%;
      height: 40px;
      z-index: 10;
      overflow: hidden;
      
    }

    h4{
      font-size: 16px;
      border-bottom: 1px solid $blueL;
      width: 100%;
      padding: 5%;
      margin-bottom: 40px;
    }
    .order-card{
      border: 1px solid $blueL;
      position: relative;
      border-radius: 5px;
      .order-title{
        font-size: 20px;
      }
      div{
        text-align: center;
        width: 80%;
        border-bottom: 1px solid $blueL;
        padding: 5px;
      }
      .click{
        border-bottom: none;
      }
    }
    div{
      text-align: center;
      width: 80%;
      margin: 20px auto;
      padding: 5px;

    }
    
   
    .exchange-rate{
      display: none;

      border: 1px solid $blueL;
      div{
        width: 90%;
      }
      input{
        width: 70px;
        font-size: 10px;
        margin-left: 10px;
      }
    }
  }

  .order-info{

    margin-top: -100px;
   width: 80%;
    .p-num{
      font-size: 20px;
      margin: 40px 10px;
      select{
        font-size: 10px;
        margin-left: 4px;
      }
    }
    

  }
  .order-i{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid gray;
    border-radius: 20px;
    padding-top: 20px;
    .gender{
      font-size: 12px; 
      color: #ffffffbd; 
      width: 40%;
      margin: 6px 0;
      background-color: rgba(217, 217, 217, 0.6);
      border: none;
      border-radius: 3px;
      height: 28px;
    }
    .gender > option{
      color: $black; 
    }

    input::placeholder {
      font-size: 12px; 
      color: #ffffffbd;
      padding-left: 10px;
    }
    h4{
      width: 90%;
      font-size: 22px;
      margin-bottom: 30px;
    }
    input{
      width: 40%;
      margin: 6px 0;
      background-color: rgba(217, 217, 217, 0.6);
      border: none;
      border-radius: 3px;
      height: 28px;
      color: $white;
    }
    .c-s{
      width: 90%;
        display: flex;
       justify-content: left;
        align-items: center;
        
      .clothe{
        margin: 8px 20px;
        display: flex;
        justify-content:start;
        align-items: center;
        border: 1px solid $white;
        margin-left: 0;
        border-radius: 5px;
        letter-spacing: 3px;
        padding: 2px;
        font-size: 12px;
        
      }
      .status{
        margin-left: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 1%;
        font-size: 12px;
        
      }
    
    }
    .remark{
      margin: 10px auto;
      width: 90%;
      height: 50px;
      font-size: 14px;
      .remark-t{
        width: 100%;
        height: 60px;
        margin-top: 6px;
        background-color:  rgba(217, 217, 217, 0.6);
        border-radius: 6px;
      }
    }
  }
  .check{
    width: 90%; 
    letter-spacing: 1.5px; 
    margin: 30px 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
    input{
      width: 20px;
      margin-right: 10px;
    }
  }
  .upload{
    width: 40%;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 14px;
    cursor: pointer;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;

  }

  .order-s{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    width: 100%;
   
    .order-c{
      width: 100%;
      margin-top: 50px;
      // clip-path: polygon(0% 0%, 100% 0, 100% 75%, 90% 100%, 0% 100%);
      // background-color: $white;
      // border-radius: 10px;
      // height: 100px;
      // margin-bottom: 100px;
    }
    
  }
  .cabin{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-image: url(@/assets/image/orderProcess/cabinBg1.svg);
    background-position: 80% 50%;
    background-size: 106%;
    background-repeat: no-repeat;
    
    .cabin-all{
      margin: 20%;
      margin-left: 25%;
      display: flex;
      flex-flow: row wrap;
      width: 70%;
      justify-content: space-around;
      
      
      div{
        width:16%;
        padding-top: 20%;
        background-color: #ffffffba; 
        background-image: url(@/assets/image/orderProcess/cabin1.svg);
        background-size: cover;
        margin: 4% 2%;
        border: 2px solid $blueL;
      }
      div:hover{
        background-color: $blue; 
        box-shadow: 0px 0px 2px white;
      }
    }
   
  }
}

.chosen {
  background-color: white;
  h5,p{
    color: $black;
  }
  
  
}


.per-order{
  border: 1px solid gray;
  margin-bottom: 80px;
  border-radius: 20px;
  padding: 16px;
  
}


@media screen and (min-width: 375px) {
  .firstM{
    // width: 100%;
    margin-top: 100px;
    height: 160px;
    img{
      width: 100%;
    }
  }
.title{
  top: 80px;
  h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
  }

}
body{
  .confirm-Order{
    color: $white;
    background-color: #0e0e0e;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(213, 213, 213, 0.795); /* 半透明的黑色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 使模态对话框位于其他元素上方 */
    .confirm-contain{
      width: 50%;
      height: 90%;
      background-color: rgba(33, 33, 34, 0.936);
      margin-top: 20px;
      border: 3px solid $blueL;
    }

    .confirm-content-container{
      h2{
        margin: 10px;
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin-left: 0;
      }
      height: 260px;
      overflow: auto;
    }
    .confirm-content{
      color: $white;
      width: 80%;
      margin: auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      border: 1px solid $blue;
      margin-top: 20px;
      
      
  
    }
    .confirm-title{
      font-size: 36px;
      margin: 10px;
      margin-top: 40px;
     
      h2{
        text-align: center;
        margin: 28px;
        margin-bottom: 40px;
      }
      h3{
        text-align: right;
        font-size: 20px;
        margin: 8px;
      }
     
    }
    div.order-finall{
      display: flex;
      flex-flow: row nowrap !important;
      width: 100%;
      justify-content: space-around;
      margin-left: 0;
      font-size: 22px;
    }
    .order-finall-btn:hover{
      cursor: pointer;
      color: $blueL;
    }
  }
}

}

@media screen and (min-width: 580px) {
    .passengerInfo{
        .order-detail{
        width: 60%;
      }
  }
  .confirm-Order{
    color: $white;
    background-color: #0e0e0e;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(213, 213, 213, 0.795); /* 半透明的黑色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 使模态对话框位于其他元素上方 */
    .confirm-contain{
      width: 80%;
      background-color: rgba(33, 33, 34, 0.936);
      margin-top: 36px;
      border: 1px solid $blueL;
    }
    div{
      margin: 10px;
    }
    .confirm-content-container{
      height: 580px;
      overflow: hidden;
    }
    .confirm-content{
      color: $white;
      width: 60%;
      margin: auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: left;
      align-items: flex-start;
      
      .order-finall{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        justify-content: space-between;
        margin-top: -50px !important;
      }
  
    }
    .confirm-title{
      font-size: 32px;
      margin: 10px;
     
      h2{
        text-align: center;
        margin: 24px;
        margin-bottom: 40px;
      }
      h3{
        text-align: right;
        font-size: 18px;
        margin: 8px;
      }
     
    }
    .order-finall-btn:hover{
      cursor: pointer;
    }
  }

}

@media screen and (min-width: 808px) {
  .order-detail{
    width: 100%;
  }
  .firstM{
    // width: 100%;
    margin-top: 280px;
    height: 400px;
    img{
      width: 100%;
    }
  }
  .title{
    left: 50%;
    top: 200px;
    h1{
      font-size: 60px;
    }
    h2{
      margin-top: 20px;
      font-size: 40px;
    }
  
  }


  .place1{
    width: 100vw;
    height: 100vh;
    position: relative;
    .card-planet{
      display: block;
    }
    .introduce-container{
      position: absolute;
      top: 50%;
      left: 10%;
      width: 30%;
      transform: translateY(-50%);
       
       .introduce{
  
         .button-container{
           width: 100%;
           display: flex;
           flex-flow: row nowrap;
           justify-content: space-between;
           button{
             border: 1px solid rgb(129, 129, 129);
             background-color: transparent;
             color: rgb(140, 140, 140);
             padding: 10px;
             box-sizing: border-box;
             
           }
           button:hover{
             cursor: pointer;
             border: 1px solid $white;
             background-color: transparent;
             color: $white;
             text-shadow: 
             -1px -1px 15px rgba(255, 255, 255, 0.35), /* 上左方向陰影，白色 */
             1px -1px 15px rgba(255, 255, 255, 0.35),  /* 上右方向陰影，白色 */
             -1px 1px 15px rgba(255, 255, 255, 0.35),  /* 下左方向陰影，白色 */
             1px 1px 15px rgba(255, 255, 255, 0.35);    /* 下右方向陰影，白色 */
           }
           button.btn-active{
             cursor: pointer;
             border: 1px solid $white;
             background-color: transparent;
             color: $white;
             text-shadow: 
             -1px -1px 15px rgba(255, 255, 255, 0.35), /* 上左方向陰影，白色 */
             1px -1px 15px rgba(255, 255, 255, 0.35),  /* 上右方向陰影，白色 */
             -1px 1px 15px rgba(255, 255, 255, 0.35),  /* 下左方向陰影，白色 */
             1px 1px 15px rgba(255, 255, 255, 0.35);    /* 下右方向陰影，白色 */
           }
         }
         .introduce-p{
           h3{
             font-size: 34px;
             color: $white;
             margin: 30px 0 30px 0;
             text-shadow: 
         -1px -1px 15px rgba(255, 255, 255, 0.3), /* 上左方向陰影，白色 */
         1px -1px 15px rgba(255, 255, 255, 0.3),  /* 上右方向陰影，白色 */
         -1px 1px 15px rgba(255, 255, 255, 0.3),  /* 下左方向陰影，白色 */
         1px 1px 15px rgba(255, 255, 255, 0.3);    /* 下右方向陰影，白色 */
           }
           h4{
             margin-top: 0px;
             margin-bottom: 20px;
             color: $white;
             font-size: 18px;
             font-weight: 600;
           }
           p{
             color: $white;
             line-height: 1.55;
             font-size: 16px;
           }
         }
       }
       
     }
  }
  .place2{
    .location{
      display: block;
    }
    width: 100vw;
    height: 100vh;
    position: relative;
    .travelInfo-conatiner{
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 80%;
      background-color: rgba(5, 4, 4, 0.687);
      z-index: 20;
      padding: 2%;
      border-radius: 20px;
      h3,h4{
        text-align: center;
        margin-bottom: 20px;
        color: $white;
        //  text-shadow: 
        //     -1px -1px 15px rgba(255, 255, 255, 0.35), /* 上左方向陰影，白色 */
        //     1px -1px 15px rgba(255, 255, 255, 0.35),  /* 上右方向陰影，白色 */
        //     -1px 1px 15px rgba(255, 255, 255, 0.35),  /* 下左方向陰影，白色 */
        //     1px 1px 15px rgba(255, 255, 255, 0.35);    /* 下右方向陰影，白色 */
      }
      h3{
        font-size: 36px;
        font-weight: 700;
      }
      h4{
        font-size: 20px;
        font-weight: 700;
      }
      ul{
        display: flex;
        flex-flow: row wrap;
        color: $white;
        li{
          
          width: 49%;
          display: flex;
          align-items: center;
          margin:15px 0;
          .box{
            height: 50px;
            width: 50px;
            display: grid;
            place-items: center; 
            border: 1px solid $white;
            margin:0 5%;
          }
          .itemp{
            width: 80%;
            line-height: 1.5;
            font-weight: 300;
            a{
              font-weight: 700;
              color: $blue;
            }
    
          }
        }
      }
    }
  
  }
  .place3{
    width: 100vw;
    // height: 120vh;
    position: relative;
    margin-bottom: 100px;
    
    .card-planet3{
      display: block;
    }
    .itinerary-cotainer{
      left: 10%;
      top: 0;
      position: absolute;
      margin-top: 100px;
      height: 130px;
      width: 80%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 50px auto 50px auto;
      z-index: 20;
      .itinerary-c{
        background-color: $white;
        clip-path: polygon(0% 0%, 100% 0, 100% 75%, 90% 100%, 0% 100%);
        display: grid;
        place-items: center; 
        text-align: center;
        line-height: 1.4;
        border-radius: 8px;
        font-size: 24px;
        width: 30%;
      }
      .itinerary-d{
        display: grid;
        place-items: center; 
        text-align: center;
        line-height: 1.5;
        border: 1px solid $white;
        height: 70%;
        border-radius: 8px;
        margin-top: auto;
        font-size: 22px;
        width: 20%;
        img{
          margin-top: 10px;
        }
      }
      .itinerary-d:hover{
       background-color: $white;
       color: $black;
       cursor: pointer;
      }
      
    }
    
    .itinerary-cotainer2{
      z-index: 20;
      top: 40%;
      left: 10%;
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      width: 80%;
      margin: auto;
      justify-content: space-between;
      // margin-top: 150px;
      .inL{
        background-color: $white;
        clip-path: polygon(0% 0%, 100% 0, 100% 75%, 90% 100%, 0% 100%);
        display: grid;
        place-items: center; 
        text-align: center;
        line-height: 1.4;
        border-radius: 8px;
        font-size: 24px;
        width: 30%;
        height: 150px;
      }
      .inR{
        width: 59%;
        display: flex;
        justify-content: start;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        line-height: 1.5;
        border-radius: 8px;
        font-size: 22px;
        .itinerary-d{
          color: $white;
          font-size: 16px;
          line-height: 1.5;
          border: 1px solid $white;
          border-radius: 8px;
          margin:0px 5px 20px 0 ;
          width: 40%;
          padding: 5px 20px;
          
          .space{
            margin-top: 20px;
          }
          h5{
            margin-top: 5px;
          }
          
        }
        .itinerary-d:hover{
          color: $black;
          background-color: $white;
          cursor: pointer;
        }
      }
    }
  }
  
  
  h1 {
      font-size: 60px;
    }
    .pagination{
      color: white;
    }
  
  .cimgs{
    margin-top: 20px;
    width: 84%;
    img{
      width: 100%;
    }
  }
  
  .passengerInfo{
    position: relative;
    width: 80%;
    margin: 150px auto 40px auto;
    color: azure;;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: start;
  
    .order-detail{
      display: block;
   position: sticky;
      width: 36%;
      margin-bottom: 50px;
      .click{
        width: 36%;
        height: 40px;
        z-index: 10;
        overflow: hidden;
        
      }
  
      h4{
        font-size: 24px;
        border-bottom: 1px solid $blueL;
        width: 100%;
        padding: 5%;
        margin-bottom: 40px;
      }
      .order-card{
        
        border: 1px solid $blueL;
        position:relative;
        border-radius: 5px;
        .order-title{
          font-size: 30px;
        }
        div{
          text-align: center;
          width: 80%;
          margin: 20px auto;
          border-bottom: 1px solid $blueL;
          padding: 5px;
        }
      }
      div{
        text-align: center;
        width: 80%;
        margin: 20px auto;
        padding: 5px;
  
      }
      
     
      .exchange-rate{
        top: 90%;
        left: 10%;
        display: flex;
        flex-flow: row wrap;
        border: 1px solid $blue;
        width: 80%;
        // margin: 10px 0;
        background-color: rgba(0, 0, 0, 0.84);
        div:first-of-type{
          width: 80%;
          margin-top: -5px;
          input{
            margin-right: 10px;
            width: 34%;
          }
          
        }
        div{
          width: 80%;
          margin-top: -10px;
        } 
        input{
          width: 48%;
          font-size: 10px;
          margin-left: 10px;
        }
      }
    }
  
    .order-info{

      margin-top: -100px;
     width: 60%;
      .p-num{

        font-size: 32px;
        margin: 40px 10px;
        select{
          font-size: 24px;
          margin-left: 4px;
        }
      }
      
  
    }
    .order-i{
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      border: 1px solid gray;
      border-radius: 20px;
      padding-top: 20px;
      
      input::placeholder {
        font-size: 14px; 
        color: #ffffffbd;
        width: 100%;
      }
      h4{
        width: 90%;
        font-size: 36px;
        margin-bottom: 30px;
      }
      input{
        width: 40%;
        margin: 10px 0;
        background-color: rgba(217, 217, 217, 0.6);
        border: none;
        border-radius: 3px;
      }
      .c-s{
        width: 90%;
          display: flex;
         justify-content: left;
          align-items: center;
          
        .clothe{
          margin: 10px 20px;
          display: flex;
          justify-content:start;
          align-items: center;
          border: 1px solid $white;
          margin-left: 0;
          border-radius: 5px;
          letter-spacing: 3px;
          padding: 2px;
          
        }
        .status{
          margin-left: 0;
          border: 1px solid $white;
          border-radius: 5px;
          padding: 1%;
          
        }
      
      }
      .remark{
        margin: 10px auto;
        width: 90%;
        color: $white;
        height: 50px;
        .remark-t{
          width: 100%;
          height: 60px;
          margin-top: 6px;
          background-color:  rgba(217, 217, 217, 0.6);
          border-radius: 6px;
          color: $white;
        }
      }
    }
    .check{
      width: 90%; 
      letter-spacing: 1.5px; 
      margin: 30px 0;
      padding: auto 0;
      display: flex;
      align-items: center;
      input{
        width: 16px;
        margin-right: 5px;
     
      }
    }
    .upload{
      width: 40%;
      height: 40px;
      margin: auto;
      border-radius: 5px;
      margin-bottom: 30px;
  
    }
    .birthday{
      color: $white;
    
    }
    .order-s{
      font-size: 32px;
      text-align: center;
      width: 100%;
      margin-bottom: 50px;
      .order-c{
        width: 100%;
        margin-top: 60px;
        // clip-path: polygon(0% 0%, 100% 0, 100% 75%, 90% 100%, 0% 100%);
        // background-color: $white;
        // border-radius: 10px;
        // height: 100px;
        // margin-bottom: 100px;
      }
      
    }
    .cabin{
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      background-image: url(@/assets/image/orderProcess/cabinBg1.svg);
      background-position: 80% 50%;
      background-size: 106%;
      background-repeat: no-repeat;
     
      .cabin-all{
        margin: 20%;
        margin-left: 25%;
        display: flex;
        flex-flow: row wrap;
        width: 70%;
        justify-content: space-around;
        position: relative;
        
        
        .cabin-per{
          width:16%;
          padding-top: 20%;
          background-color: #bfbfbf; 
          background-image: url(@/assets/image/orderProcess/cabin1.svg);
          background-size: cover;
          margin: 4% 2%;
          border: 2px solid $blueL;
          position: relative;
        }
        .class1::after{
          content: "1";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
          font-size: 20px;
        }
        .class2::after{
          content: "2";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class3::after{
          content: "3";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class4::after{
          content: "4";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class5::after{
          content: "5";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class6::after{
          content: "6";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class7::after{
          content: "7";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class8::after{
          content: "8";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class9::after{
          content: "9";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
        font-size: 20px;
        }
        .class10::after{
          content: "10";
          position: absolute;
          left: 50%;
          top: 50%;
          color: $white;
          transform: translate(-50%,-50%);
          font-size: 20px;
        }
        div:hover{
          cursor: pointer;
          background-color: $blue; 
          box-shadow: 0px 0px 2px white;
        }
        div:hover::after{
          
            color:$white;
          
        }
        div.disable{
          opacity: 50%;
          cursor: default;
        }
        div.disable:hover{
          color: $blue;
          background-color: #bfbfbf !important;
        }
        
        .cabin-chose{
          position: absolute;
          top: 50%;
          right: -20%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $blue;
          cursor: default;
          span{
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: antiquewhite;
            font-size: 32px;
            cursor: default;
          }
          

        }
      }
     
    }
  }
  
  






  }
//登入彈窗
  .black-cover{
    position: absolute;
    z-index:1100;
    width: 100%;
    height: 100%;
    inset: 0;
  }
  .wrap{
    position: fixed;
    z-index:1200;
    top:10%;
    left: 36%;
    width: 357px;
  }
  .login-section{
      padding: 40px;
      font-size: $p2-l;
      font-weight: 700;
      margin: 0 auto;
      border-radius: 0px 20px 20px 20px;
      border: 2px solid $blueL;
      background-color: $blueO;
  }
  .button_group{
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $blueL;
  }
  #register-btn, #login-btn{
      border-radius: 5px;
      width: 85px;
      font-weight: 700;
      padding-top: 5px;
      padding-bottom: 7px;
  }
  #register-btn{
      cursor: pointer;
      border: 2px solid #01C1FD;
      background:rgba(1, 193, 253, 0.40);
      color: #043260;
      &:hover{
        background-color: $blueL;
      }
  }
  #login-btn{
      border: 2px solid #0DF2F2;
      background: #0DF2F2;
      color: #043260;
  }
  form{
    margin: 0 auto;
    text-align: center;
  }
  input{
      width: 229px;
      border-radius: 5px;
      background-color: rgba(217, 217, 217, 60%);
      margin-top: 25px;
      padding: 5px;
      height: 35px;
      border: none;
      outline: none;
      &:focus{
          outline: 2px solid rgba(13, 242, 242, 88%);
      }
  }
  p{
      color: #0DF2F2;
      margin-top: 20px;
  }
  p:last-of-type{
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
  .go-register{
      font-size: 12px;
      span{
          color:$white;
      }
  }
  button{
                  
      margin-top: 27px;
      margin-bottom: 20px;
    
  }
  //button效果
  @font-face {
      font-family: Cyber;
      src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
      font-display: swap;
    }
    
    * {
      box-sizing: border-box;
    }
    
    body {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      min-height: 100vh;
      font-family: 'Cyber', sans-serif;
    }
    
    body .cybr-btn + .cybr-btn {
      margin-top: 2rem;
    }
    
    .cybr-btn {
      --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 1%));
      --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
      --primary-hue: 260;
      --primary-lightness: 50;
      --color: hsl(0, 0%, 100%);
      --font-size: 16px;
      --shadow-primary-hue: 180;
      --label-size: 9px;
      --shadow-secondary-hue: 60;
      --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
      --clip: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 70%);
      --border: 4px;
      --shimmy-distance: 5;
      --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
      --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
      --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
      --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
      --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
      --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
      --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
      font-family: 'Cyber', sans-serif;
      color: var(--color);
      cursor: pointer;
      background: transparent;
      text-transform: uppercase;
      font-size: var(--font-size);
      outline: transparent;
      letter-spacing: 2px;
      position: relative;
      font-weight: 700;
      border: 0;
      width: 229px;
      height: 50px;
      line-height: 50px;
      transition: background 0.2s;
    }
    
    .cybr-btn:hover {
      --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.8%));
    }
    .cybr-btn:active {
      --primary: hsl(var(--primary-hue), 85%, calc(var(--primary-lightness, 50) * 0.6%));
    }
    
    .cybr-btn:after,
    .cybr-btn:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      clip-path: var(--clip);
      z-index: -1;
    }
    
    .cybr-btn:before {
      background: var(--shadow-primary);
      transform: translate(var(--border), 0);
    }
    
    .cybr-btn:after {
      background: var(--primary);
    }
    
    .cybr-btn__tag {
      position: absolute;
      padding: 1px 4px;
      letter-spacing: 1px;
      line-height: 1;
      bottom: -5%;
      right: 5%;
      font-weight: normal;
      color: #fff;
      font-size: var(--label-size);
    }
    
    .cybr-btn__glitch {
      position: absolute;
      top: calc(var(--border) * -1);
      left: calc(var(--border) * -1);
      right: calc(var(--border) * -1);
      bottom: calc(var(--border) * -1);
      background: var(--shadow-primary);
      text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
      clip-path: var(--clip);
      animation: glitch 2s infinite;
      display: none;
    }
    
    .cybr-btn:hover .cybr-btn__glitch {
      display: block;
    }
    
    .cybr-btn__glitch:before {
      content: '';
      position: absolute;
      top: calc(var(--border) * 1);
      right: calc(var(--border) * 1);
      bottom: calc(var(--border) * 1);
      left: calc(var(--border) * 1);
      clip-path: var(--clip);
      background: var(--primary);
      z-index: -1;
    }
    
    @keyframes glitch {
      0% {
        clip-path: var(--clip-one);
      }
      2%, 8% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
      }
      6% {
        clip-path: var(--clip-two);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      9% {
        clip-path: var(--clip-two);
        transform: translate(0, 0);
      }
      10% {
        clip-path: var(--clip-three);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      13% {
        clip-path: var(--clip-three);
        transform: translate(0, 0);
      }
      14%, 21% {
        clip-path: var(--clip-four);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      25% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      30% {
        clip-path: var(--clip-five);
        transform: translate(calc(var(--shimmy-distance) * -1%), 0);
      }
      35%, 45% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * -1%));
      }
      40% {
        clip-path: var(--clip-six);
        transform: translate(calc(var(--shimmy-distance) * 1%));
      }
      50% {
        clip-path: var(--clip-six);
        transform: translate(0, 0);
      }
      55% {
        clip-path: var(--clip-seven);
        transform: translate(calc(var(--shimmy-distance) * 1%), 0);
      }
      60% {
        clip-path: var(--clip-seven);
        transform: translate(0, 0);
      }
      31%, 61%, 100% {
        clip-path: var(--clip-four);
      }
    }
