
  .order-item:hover .orderP{
    transition: all 0.8s;
    transform: scale(1.2);
  }
  .order-item:hover .img-bg{
    transform: scale(1.2);
    transition: all 0.8s;
    
  }
  .order-item:hover {
    box-shadow: 
    6px 6px 8px rgba($color: #acacac, $alpha: 0.5), 
    -6px 6px 8px rgba($color: #acacac, $alpha: 0.5), 
    6px -6px 8px rgba($color: #acacac, $alpha: 0.5),
    -6px -6px 8px rgba($color: #acacac, $alpha: 0.5); 
    transition: all 0.8s;
  }

.order-container{
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 120px;
    height: 90%;
}

.order-item{
    position: relative;
    // background-image: url("~@/assets/image/ordertitle/PLANETARYORBITBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 460px;
    width: 80%;
    margin-bottom: 100px;
    
    .imgContaint{
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        .img-bg{
            height: 100%;
            transition: all 0.8s;
        }
    }
    
    .order-title{
        width: 100%;
        color: $white;
        position: absolute;
        left: 50%;
        top: -50px;
        transform: translateX(-50%);
        img{
            display: block;
            margin: auto;
            width: 50%;  
            transition: all 0.8s;
        }
        p,h2{
            text-align: center;
        }
        p{
            font-size: 16px;
            margin-bottom: 10px;
        }
        h2{
            font-size: 36px;
        }
        
    }
    .choose{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34%;
        height: 30px;
        color: $white;
        background-color: $blueO;
        position: absolute;
        bottom: 0%;
        left: 37%;
    }
    p{
        margin-top: 20px;
        margin-bottom: -8px;
    }
}

@media screen and (min-width: 375px) {
    .order-container{
        flex-flow: row wrap;
        margin-bottom: 0;
    }
    .order-item:hover{
        cursor: pointer;;
    }
    .order-item{
        width: 40%;
        margin-bottom: 160px;
        .imgContaint{
            height: 100%;
            overflow: hidden;
            .img-bg{
                height: 100%;
                
                
            }
        } 
    }
    .order-item .order-title h2{
        font-size: 34px;
    }
    .order-item .order-title p{
        font-size: 18px;
    }
}


@media screen and (min-width: 768px) {
    .order-item{
        height: 460px;
        width: 21%;
        margin-bottom: 100px;
        .imgContaint{
            width: 100%;
            height: 100%;
            overflow: hidden;
            .img-bg{
               height: 100%;
               width: auto;
                display: block;
                margin: auto;
     
                
            }
        }

    .order-item .order-title h2{
        font-size: $h1-l;
    }
    .order-item .order-title p{
        font-size: $p2-l;
    }
}}

