.register-all {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;

  .sapcemanRight {
    margin-top: 60px;
  }

  .register-form {
    margin-left: 200px;
    letter-spacing: 4.8px;

    margin-right: 60px;
    margin-top: 120px;
    font-size: 16px;
    width: 390px;
    font-weight: 700;
    box-sizing: border-box;

    .register-title {
      vertical-align: middle;

      path {
        fill: $blue;
      }

      text {
        color: $black;
        // letter-spacing: 4.8px;

      }


      //  text-align: left;
    }

    .register-border {
      background: $blueO ;
      // opacity: 0.6;
      // background: #1F084E;
      // z-index: ;
      box-sizing: border-box;
      border-radius: 0px 20px 20px 20px;
      border: 1px solid rgba(13, 242, 242, 0.88);

      .register-select {
        width: 297px;
        text-align: center;
        display: flex;
        margin: 42px 42px 28px 42px;
        justify-content: space-between;

        * {
          border-radius: 5px;
          width: 78px;
          height: 34px;
          font-weight: 700;
          line-height: 28px;
        }

        a:hover {
          background: $blueL;
        }

        :first-child {
          border: 2px solid $blueL ;
          background: $blueL;
          color: #043260;
        }

        :last-child {
          border: 2px solid #01C1FD;
          background: rgba(1, 193, 253, 0.40);
          color: #2D0779;
        }

      }

      .register-from-con {
        border-top: 2px solid $blueL;
        width: 297px;
        color: $black;
        margin: 0 auto;
        position: relative;
        ;

        .black {
          background: $blueL;
          width: 1.6px;
          height: 4px;

          position: absolute;
          top: 0;
          left: 0;
        }

        p {
          color: $blueL;
          margin-top: 24px;
          text-align: center;
        }


        form {
          font-size: 12px;
          margin: 0 auto;
          width: 244px;

          ::placeholder {
            color: rgba(70, 66, 66, 0.6);
            letter-spacing: 2px;
          }

          input {
            border-radius: 5px;
            border: 2px solid rgba(13, 242, 242, 0.88);
            background: rgba(217, 217, 217, 0.60);
            width: 100%;
            margin-top: 20px;
            padding: 3px;
            height: 28px;
            letter-spacing: 2px;
          }

          button {

            --font-size: 16px;
            // --label-size: 3px;
            @include wh(243px, 35px);
            letter-spacing: 4.8px;
            --rightTag: 3%;
            --bottomTag: -18%;
            --label-size: 12px;
            min-width: 243px;
            line-height: 40px;
            margin-top: 21px;
            margin-bottom: 60px;

            span:last-child {
              padding: 0px 2px;

              letter-spacing: 1.4px;
            }


          }

        }

      }
    }

  }
<<<<<<< HEAD
}
=======
  
  .cybr-btn__tag {
    position: absolute;
    padding: 1px 4px;
    letter-spacing: 1px;
    line-height: 1;
    bottom: -20%;
    right: 5%;
    font-weight: normal;
    color: white !important;
    font-size: var(--label-size);
  }
  
  .cybr-btn__glitch {
    position: absolute;
    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(var(--border) * -1);
    background: var(--shadow-primary);
    text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
    clip-path: var(--clip);
    animation: glitch 1.6s infinite;
    display: none;
  }
  
  .cybr-btn:hover .cybr-btn__glitch {
    display: block;
  }
  
  .cybr-btn__glitch:before {
    content: '';
    position: absolute;
    top: calc(var(--border) * 1);
    right: calc(var(--border) * 1);
    bottom: calc(var(--border) * 1);
    left: calc(var(--border) * 1);
    clip-path: var(--clip);
    // background: var(--primary);
    // background: #0DF2F2; //閃顏色
    background:#29e2f3;
    z-index: -1;
     
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--clip-one);
    }
    2%, 8% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    6% {
      clip-path: var(--clip-two);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    9% {
      clip-path: var(--clip-two);
      transform: translate(0, 0);
    }
    10% {
      clip-path: var(--clip-three);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    13% {
      clip-path: var(--clip-three);
      transform: translate(0, 0);
    }
    14%, 21% {
      clip-path: var(--clip-four);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    25% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    30% {
      clip-path: var(--clip-five);
      transform: translate(calc(var(--shimmy-distance) * -1%), 0);
    }
    35%, 45% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * -1%));
    }
    40% {
      clip-path: var(--clip-six);
      transform: translate(calc(var(--shimmy-distance) * 1%));
    }
    50% {
      clip-path: var(--clip-six);
      transform: translate(0, 0);
    }
    55% {
      clip-path: var(--clip-seven);
      transform: translate(calc(var(--shimmy-distance) * 1%), 0);
    }
    60% {
      clip-path: var(--clip-seven);
      transform: translate(0, 0);
    }
    31%, 61%, 100% {
      clip-path: var(--clip-four);
    }
  }
  .cybr-btn:nth-of-type(2) {
    --primary-hue: 260;
  }
//   .asd{
//   background: #08060B;
//   }
>>>>>>> eb4a4e5fd66189e8653db4716f567d031c97a697
