.bigImg {
    margin-top: 20px;
    position: relative;
    color: $white;
    // 
    width: 100vw;
    max-width: 100%;

    img {
        max-width: 100%;
        width: 100vw;
    }
    .introduceTitle {  
        font-size: $h1-l ;
        color: $white;
        position: absolute;
        top: 19%;
        right: 19.8%;
        text-align: center;
        line-height: 1.2;
        @include padBS{
            font-size: 24px;
        }
        @include mobileBS{
            font-size: 20px;
        }
    }
}

.jobAll {
    line-height: 1.5;
    color: $white;
    font-weight: 700;
    // width: 1200px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
    .introduceTeam {
        // width: 83vw;
        margin: 0 auto;
        margin-top: 10vh;

        line-height: 2rem;
        font-size: 24px;
        @include padBS{
            font-size: 20px;
        }
        @include mobileBS{
            font-size: 18px;
        }

    }

    .jobContent {
        .jobTitle {
            // text-align: center;
            margin-top: 120px;
            @include padBS{
                margin-top: 80px;
            }
            p:first-child {
                text-align: center;
                font-size: $h2-l;
                @include padBS{
                    font-size: $h2-m;
                }
                @include mobileBS{
                    font-size: $h2-s;
                }
            }

            p:last-child {
                // width: 600px;
                min-width: 600px;
                width: 50%;
                font-size: $p1-l;
                margin: 50px auto;
                @include padBS{
                    font-size: $p1-m;
                    width: 70%;
                    min-width:400px;
                }
                @include mobileBS{
                    width: 90%;
                    font-size: $p1-s;
                    min-width:200px;

                }
                // margin: 55px 0 50px 0;
            }

        }

        .memberComtent {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            @include mobileBS{
                flex-direction: column;
                align-items: center;
            }

            .individual {
                // flex: 1 0 auto;
                cursor: pointer;
                box-sizing: border-box;
                border-radius: 10px 10px 50px 10px;
                border: 3px solid $white;
                background: rgba(43, 42, 42, 0.80);
                width: 27.75%;//333PX
                // width: 333px;
                @include padBS{
                    border-radius: 10px 10px 30px 10px;
                    border: 2px solid $white;

                }
                @include mobileBS{
                    width: 80%;
                    border-radius: 10px 10px 20px 10px;
                    border: 1px solid $white;
                }
               
                .imgContent {
                   
                    width: 100%;
                    // min-width: 200px;
                    //  @include wh(270px,332px); 
                    overflow: hidden;

                    img {

                        width: 100%;
                        
                        // padding: 26px 29px 0 29px;
                         padding:26px  8.7% 0 8.7%; 

                        object-fit: cover;
                    }
                }

                .membersSpan {

                    // margin: 40px 31px 25px 31px;
                    margin: 30px 8.7% 20px 8.7%;
                    width: 81%;//270PX
                    // width: 270px;
                    border-bottom: $blueL;
                    position: relative;
                    @include padBS{
                        margin: 20px 8.7% 10px 8.7%;
                    }
                    // @include mobileBS{
                    //     margin: 10px 8.7% 6px 8.7%;
                    // }
                    p:first-child {
                        font-size: 24px;
                        @include padBS{
                            font-size:16px ;
                        }
                        @include mobileBS{
                            font-size: $h2-s;
                        }
                        display: block;
                    }

                    .jobTitleMem {
                        font-size: 16px;
                        line-height: 1.5;
                        margin-top: 8px;
                        width: 70%;
                        @include padBS{
                            font-size:$rc2;
                        }
                        @include mobileBS{
                            font: size $rc1;
                        }
                    }

                    .number {
                        position: absolute;
                        right: 0;
                        top: 40px;
                        background: $blueL;
                        line-height: 1.2 ;  
                        // float: right;
                        // @include wh(70px, 25px);
                        @include wh(25.92% ,25px);
                        font-size: $p1-l;
                        text-align: center;
                        color: $black;
                        @include padBS{
                            top: 25px;
                            font-size: 14px;
                            height: 20px;
                        }
                        @include mobileBS{
                            top: 35px;
                            font-size:12px;
                            height: 25px;
                            line-height: 2 ;  

                        }
                    }
                }


            }
        }


        // }
        .allDetail {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            height: 120vh;
            background-color: rgba(156, 147, 147, 0.2);
            backdrop-filter: blur(5px);
            z-index: 10;

            .memberDetail {


                // position:fixed;  
                // top: 50%;          
                // left: 50%;        
                // transform: translate(-50%, -55%);

                position: relative;
                margin: 0 auto;
                margin-top: 20vh;
                //  overflow-y: auto;
                overflow: auto; // position: absolute;
                // left: 50%;
                // transform: translateX(-50%);

                line-height: 1.5;
                width: 505px;
                padding: 20px;
                height: 90vh;
                background-color: $blackBG ;
                border: 1px solid #ddd;
                // box-shadow: 0 4px 8px rgba(0,0,0,0.1);

                z-index: 10;

                button {
                    background: $white;
                    text-align: center;
                    border-radius: 15px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    padding: 3px 15px;
                    font-size: $p1-l ;
                    cursor: pointer;
                    vertical-align: middle;

                }

                >p {
                    font-size: 24px;
                    @include padBS{
                        font-size: 20px;
                    }
                    @include mobileBS{
                        font-size: 20px;
                    }
                    // margin-bottom: 6px
                }

                .memberContent {
                    .detailImg {
                        @include wh(405px, 501px);
                        margin: 30px auto;
                        overflow: hidden;

                        img {

                            width: 100%;
                            height: 100%;

                            object-fit: cover;
                        }
                    }

                    p {
                        width: 400px;
                        margin: 0 auto;

                    }

                }


            }
        }



    }

}
// .footerImg{
//     img{
//         width: 100%;
//     } 
//     width: 100vw;
//     max-width: 100%;
//     position: absolute;
//     bottom: -120px;
//     z-index: -10;
// }

// @media(max-width:1000px) {
//     .individual {
//         // @include wh(233px  233.8px);
         
//     }

// }



// ===================R E D ====================
// @media screen and (max-width: 768px) {
//     .individual{
//         transform: scale(0.8);
//     }


// }
// @media screen and (max-width: 375px) {
//     .individual{
//         transform: scale(0.8);
//     }


// }