.bigImg {
    margin-top: 20px;
    position: relative;
    color: $white;
    // 
    width: 100vw;
    max-width: 100%;

    img {
        max-width: 100%;
        width: 100vw;
    }

    .introduceTitle {
        font-size: $h1-l ;
        color: $white;
        position: absolute;
        top: 19%;
        right: 19.8%;
        text-align: center;
        line-height: 1.2;
        font-weight: 700;

        @include padBS {
            font-size: 24px;
        }

        @include mobileBS {
            font-size: 20px;
        }
    }
}

.jobAll {
    line-height: 1.5;
    color: $white;
    letter-spacing: 4px;
    font-weight: 700;
    // width: 1200px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;

    .introduceTeam {
        // width: 83vw;
        margin: 0 auto;
        margin-top: 10vh;

        line-height: 2rem;
        font-size: 24px;

        p {
            font-weight: 700;
            text-align: center;
            line-height: 2;
        }

        @include padBS {
            font-size: 20px;
        }

        @include mobileBS {
            font-size: 16px;
        }

    }

    .jobContent {
        .jobTitle {
            // text-align: center;
            margin-top: 120px;
            width: 100%;

            @include padBS {
                margin-top: 80px;
            }

            p:first-child {
                // text-align: center;
                font-size: $h2-l;

                @include padBS {
                    font-size: $h2-m;
                }

                @include mobileBS {
                    font-size: $h2-s;
                    padding-left: 30px;
                }
            }

            p:last-child {
                // width: 600px;
                font-weight: 500;
                max-width: 500px;
                width: 50%;
                font-size: $p1-l;
                // margin: 50px auto;
                padding: 20px 0;

                @include padBS {
                    font-size: $p1-m;
                    width: 70%;
                    min-width: 350px;
                    margin: 50px auto;
                    margin-bottom: 20px;
                }

                @include mobileBS {
                    width: 80%;
                    font-size: $p1-s;
                    min-width: 100px;
                    margin: 0 auto;

                    margin-bottom: 10px;

                }

                // margin: 55px 0 50px 0;
            }

            span {
                font-size: $h2-l;

                @include padBS {
                    font-size: $h2-m;
                }

                @include mobileBS {
                    font-size: $p2-s;
                }
            }

        }

        .memberComtent {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            @include mobileBS {
                flex-direction: column;
                align-items: center;
            }

            .individual {
                // flex: 1 0 auto;
                cursor: pointer;
                box-sizing: border-box;
                border-radius: 10px 10px 50px 10px;
                border: 3px solid $white;
                background: rgba(43, 42, 42, 0.80);
                width: 27.75%; //333PX

                // width: 333px;
                @include padBS {
                    border-radius: 10px 10px 30px 10px;
                    border: 2px solid $white;

                }

                @include mobileBS {
                    margin-top: 30px;
                    width: 90%;
                    border-radius: 10px 10px 20px 10px;
                    border: 1px solid $white;
                }

                .imgContent {

                    width: 100%;
                    // min-width: 200px;
                    //  @include wh(270px,332px); 
                    overflow: hidden;

                    img {

                        width: 100%;

                        // padding: 26px 29px 0 29px;
                        padding: 26px 8.7% 0 8.7%;

                        object-fit: cover;
                    }
                }

                .membersSpan {

                    // margin: 40px 31px 25px 31px;
                    margin: 30px 8.7% 20px 8.7%;
                    width: 81%; //270PX
                    // width: 270px;
                    border-bottom: $blueL;
                    position: relative;

                    @include padBS {
                        margin: 20px 8.7% 10px 8.7%;
                    }

                    // @include mobileBS{
                    //     margin: 10px 8.7% 6px 8.7%;
                    // }
                    p:first-child {
                        font-size: 24px;

                        @include padBS {
                            font-size: $p2-m;
                        }

                        @include mobileBS {
                            font-size: $p2-s;
                        }

                        display: block;
                    }

                    .jobTitleMem {
                        font-size: 16px;
                        line-height: 1.5;
                        margin-top: 8px;
                        width: 70%;

                        @include padBS {
                            font-size: $rc2;
                        }

                        @include mobileBS {
                            font: size $rc1;
                        }
                    }

                    .number {
                        position: absolute;
                        right: 0;
                        top: 40px;
                        background: $blueL;
                        line-height: 1.2;
                        // float: right;
                        // @include wh(70px, 25px);
                        @include wh(25.92%, 25px);
                        font-size: $p1-l;
                        text-align: center;
                        color: $black;

                        @include padBS {
                            top: 25px;
                            font-size: 14px;
                            height: 20px;
                        }

                        @include mobileBS {
                            top: 25px;
                            font-size: 12px;
                            height: 25px;
                            line-height: 2;

                        }
                    }
                }


            }
        }


        // }
        .allDetail {
            letter-spacing: 4px;

            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100vw;
            height: 120vh;
            background-color: rgba(156, 147, 147, 0.2);
            backdrop-filter: blur(5px);
            z-index: 300;

            .memberDetail {

                z-index: 10;
                // position:fixed;  
                // top: 50%;          
                // left: 50%;        
                // transform: translate(-50%, -55%);
                position: relative;
                margin: 0 auto;
                margin-top: 16vh;
                //  overflow-y: auto;
                overflow: auto; // position: absolute;
                // left: 50%;
                // transform: translateX(-50%);

                line-height: 1.5;
                max-width: 600px;
                padding: 16px;
                height: 90vh;
                background-color: $blackBG ;
                border: 1px solid #ddd;
                // box-shadow: 0 4px 8px rgba(0,0,0,0.1);

                z-index: 10;

                @include padBS {
                    max-width: 90%;
                }

                @include mobileBS {
                    width: 95%;
                    padding: 10px;
                }

                button {
                    background: $white;
                    text-align: center;
                    border-radius: 15px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    padding: 3px 15px;
                    font-size: $p1-l ;
                    cursor: pointer;
                    vertical-align: middle;

                    @include padBS {
                        transform: scale(.7);
                        top: 5px;
                        right: 0px;
                    }

                    @include mobileBS {
                        top: 3px;
                        right: -2px;
                        padding: 2px 10px;
                        transform: scale(.5);
                    }

                }

                >p {
                    font-size: 24px;

                    // font-weight:500;
                    @include padBS {
                        font-size: 20px;
                    }

                    @include mobileBS {
                        font-size: 20px;
                    }

                    // margin-bottom: 6px
                }

                .memberContent {
                    .detailImg {
                        max-width: 330px;
                        margin: 30px auto;
                        overflow: hidden;

                        @include padBS {
                            width: 270px;
                        }

                        @include mobileBS {
                            width: 80%;
                        }

                        img {

                            width: 100%;
                            height: 100%;

                            object-fit: cover;
                        }
                    }

                    p {
                        font-weight: 500;
                        font-size: $p1-l;
                        width: 90%;
                        margin: 0 auto;

                        @include padBS {
                            font-size: $p1-m;
                        }

                        @include mobileBS {
                            font-size: $p1-s;
                        }
                    }

                }


            }
        }



    }

}

.br {
    white-space: pre-line;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $blueL;
    // box-shadow: inset -1px  -1px 10px 10px rgba(91, 19, 236, 20%),
    // inset -1px  -1px 10px 5px rgba(91, 19, 236, 80%), 
    // inset 2px  2px 10px 2px rgba(91, 19, 236, 90%),
    // 2px  -4px 10px 2px rgb(91, 19, 236 ), 
    //  0px 2.525px 8.4825px 0px #06F, 
    //  -0.42412px 0.84825px 0.42412px 0px rgba(255, 255, 255, 0.50);     
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blue ;
}

// .footerImg{
//     img{
//         width: 100%;
//     } 
//     width: 100vw;
//     max-width: 100%;
//     position: absolute;
//     bottom: -120px;
//     z-index: -10;
// }

// @media(max-width:1000px) {
//     .individual {
//         // @include wh(233px  233.8px);

//     }

// }