#technology{
    box-sizing: border-box;
    color: $white;
    .mw{
        max-width: 1200px;
    }
    .section-title{
        margin-left: auto;
        margin-right: auto;
    }
    .ma-0{
        margin: 0 auto;
    }
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    .banner{
        width: 100%;
        background: url(~@/assets/image/technology/cosmos.svg)center center no-repeat;
        animation: fadein 2.5s;
        .container{
            h2{
                margin-left: 10%;
                font-size: $h1-l;
                font-weight: 700;
                text-shadow: 2px 2px 3px #666;
                transform: translateY(-900%);
                animation: slidein 1s .5s forwards;
                &:first-child{
                    padding-top: 100px;
                }
            }
        }
        .spaceship-pic img{
           width: 60%;
           transform: translateX(-100%);
           animation: spaceship 1s 1.5s ease-in-out forwards;
        } 
    }
    @keyframes fadein {
        0%{
            opacity: 0;
        }
        100%{
           opacity: 1;
        }
    }
    @keyframes slidein{
        0%{
            transform: translateY(-300%)
        }
        100%{
            transform: translateY(0%)
        }
    }
    @keyframes spaceship {
        0% {
            transform: translateX(-100%) translateY(0) scale(150%);
        }
        100% {
            transform: translateX(30%) translateY(5%) scale(80%);
        }
    }
    .intro-wrap{
        width: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
        .intro-pic{
            width: 20%;
        }
        .intro-txt{
            width: 70%;
            p{
            font-size: $p1-l;
            letter-spacing: 2%;
            line-height: 1.5;
            }
        }
    }

    .wrap{
        .mb{
            margin-bottom: 50px;
        }
        .center{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .neon-border{
            border: 2px solid $blueL;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 4px $blueL;
        }
        .spaceship-intro{
            display: grid;
            transform: translateX(5%);
            width: 1000px;
            grid-template-columns: repeat(20, 50px);
            grid-template-rows: repeat(18, 50px) ;
            .selected{
                border: 2px solid $white;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 4px $white;
            }
            .spaceship-big{
                grid-area: 1/1/14/17;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                object-fit: contain;
                width: 500px;
                height: 500px;
               }
               h2{
                color: $blueL;
                font-size: $h2-l;
                margin-top: 20px;
               }
            }
            .thumbnail-list{
                grid-area: 1/16/14/20;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .thumbnail{
                height: 30%;
                background-color: $blackBG;
                cursor: pointer;
            }
            .spaceship-feature{
                grid-area: 15/-21/19/-13;
                padding: 10px;
                p{
                    line-height: 1.5;
                }
            }
            .spaceship-txt{
                grid-area: 15/-12/19/-2;
                padding: 10px;
                p{
                    line-height: 1.5;
                }
            }
        }
        .space-suit-txt, .spaceship-intro-text{
            width: 60%;
            p{
                line-height: 1.5;
            }
        }
        .space-suit-intro{
            max-width: 1200px;
            display: flex;
            justify-content: center;
            .bb{
                padding-bottom: 5px;
                border-bottom: 2px solid $blueL;

            }
            .costume{
                width: 30%;
                position: relative;
                margin-bottom: 30%;
            }
            img{
                max-width: 90%;
                margin: 0 auto;
                
            }
            img:last-child{
                position: absolute;
                max-width: 100%;
                bottom:0;
                z-index: -2;
                transform: scale(200%);
            }
            .window{
                position: relative;
                padding: 10px;
                width: 230px;
                align-self: center;
                p{
                    line-height: 1.5;
                }
                &::after{
                    content: "";
                    display: block;
                    background-color: $blueL;
                    width: 50px;
                    height: 2px;
                    position: absolute;
                    left: 100%;
                    top:50%;
                }
                &::before{
                    content: "";
                        display: block;
                        background-color: $blueL;
                        width: 40px;
                        height: 2px;
                        position: absolute;
                        top: 42%;
                        left: 119.5%;
                        transform: rotate(-45deg);
                }
                
            }
            .window:last-child{
                width: 200px;
                align-self: flex-start;
                &::after{
                    content: "";
                    display: block;
                    background-color: $blueL;
                    width: 40px;
                    height: 2px;
                    position: absolute;
                    left: -21%;
                    top:50%;
                }
                &::before{
                    content: "";
                        display: block;
                        background-color: $blueL;
                        width: 40px;
                        height: 2px;
                        position: absolute;
                        top: 57%;
                        left: -37.5%;
                        transform: rotate(-45deg);
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
    #technology{
        .mw{
            max-width: 1000px;
        }
        .wrap{
            .spaceship-intro{
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
                grid-template-columns: repeat(20, 40px);
                grid-template-rows: repeat(18, 40px) ;
                // .thumbnail{
                //     height: 80%;
                //     width: 33%;
                // }
                transform: translateX(0%);
            }
           
        }
    }
}


@media screen and (max-width:768px) {
#technology{
    .mw{
        max-width: 750px;
    }
    .banner{
        .container{
            h2{
                font-size: $h2-m;
            }
        }
    }
    .intro-wrap{
        max-width: 95%;
        .intro-pic{
        display: none;
        }
        .intro-txt{
            margin: 0 auto;
            width: 100%;
            p{
            font-size: $p2-m;
            }
        }
    }
        .wrap{
            .spaceship-intro-text{
                width: 80%;
            }
            .spaceship-intro{
                max-width: 750px;
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                .spaceship-big{
                    img{
                    height: auto;
                   }
                }
                .spaceship-big, .thumbnail-list{
                    width: 80%;
                    margin: 0 auto;
                }
                .thumbnail-list{
                    flex-direction: row;
                    justify-content: space-between;
                }
                .thumbnail{
                    height: 80%;
                    width: 33%;
                }
                .spaceship-feature, .spaceship-txt{
                    width: 40%;
                    margin: 0 auto;
                }
            }
        
            .space-suit-intro{
                max-width: 750px;
                flex-wrap: wrap;
                .costume{
                    width: 90%;
                    order: 3
                }
                .window{
                    &::after, &::before{
                        display: none;
                    }
                }
                .window:last-child{
                    &::after{
                       display: none;
                    }
                    &::before{
                       display: none;
                    }
                }
                img:last-child{
                    transform: scale(100%);
                    bottom:-10%;
                }
            }
        }
    }
}

@media screen and (max-width:550px){

    #technology{

        .wrap{
            .spaceship-intro{
            .spaceship-feature, .spaceship-txt{
                width: 100%;
            }
            }
        }

    }

}
@media screen and (max-width:400px) {
    
    #technology{

        .mw{
            max-width: 370px;
        }
        
        .wrap{
            .spaceship-intro{
                max-width: 370px;
                .spaceship-big{
                    &>img{
                    width: 350px;
                    height: 350px;
                   }
                }
                
            }
            .space-suit-intro{
                .window:last-child{
                    margin-top: 10px;
                }
            }
        }
    }
}