//   nav{
//     position: relative;
//     height: 104px;
//   }


//   .indexLogo{
//     width: 120px;
//   }
//   .menu-p1{
//     margin-left: 30%;
//     margin-top: -10px;
//     color: $white;
//   }
//   .menu-p2{
//     text-align: center;
//     margin-top: -10px;
//     color: $white;
//   }
//   div.menu-btn img
//   {
//     @include wh(70px, 50px);
//   }

//   div.login-btn img{
//     @include wh(70px, 50px);
//   }
//   .btn-container{
//     position: relative;
//     margin-top: -5px;
//     .btn{
//       position: absolute;
//       border: 1px solid transparent;
//       top: -30%;
//       left: 0;
//       width: 74%;
//       z-index: -1;
//     }
//     .btn-p{
//       position: relative;
//       margin-left: 11%;
//       img{
//         position: absolute;
//         left: 13vw;
//         bottom: 0.8vh;
//       }




//     }
//   }
//   // img.btn-g{
//   //   margin-top: -10px;
//   // }


//   .menu{
//     width: 100%;
//     height: 100vh;
//     position: fixed;
//     left: 0;
//     top: 0;
//     background-color: a(0, 0, 0, 0.86);
//     z-index: 10;
//     display: flex;
//     flex-flow: row wrap;
//   }

//   .menu-nav,
//   .indexNav{
//     width: 100%;
//     height: 100px;
//     display: flex;
//     justify-content: space-between;
//   } 
//   .menu-nav img,
//   .indexNav img{
//     margin: 20px;
//     margin-right: 10px;
//     cursor: pointer;
//     @include wh(70px, 50px);
//   }

//   .list,
//   .socialLink{
//     height: 100%;
//     width: 50%;
//   }

//   .list li {
//     font-size: 2.9vw;
//     text-align: start;
//     margin-bottom: 1.7vw;
//     margin-left: 14%;
//     font-weight: 600;
//   }
//    .list a {
//      color: $white;
//   }
//   // .list a:nth-of-type(2){
//   //   color: $blueL;
//   // }

//   .list ul li:nth-child(2) a,
//   .list ul li:nth-child(3) a,
//   .list ul li:nth-child(4) a{
//     color: $blueL;
//   }

//   div.mediaLink{
//     display: flex;
//     flex-flow: column nowrap;
//     font-size: 2vw;
//     width: 26%;
//     margin: 0 auto 0 auto;
//     font-weight: 700;
//   }
//   .tips{
//     @include wh(100%, 300px);
//     margin: 0px auto 20px auto;
//     padding: 10px  60px 60px 50px;
//   }
//   .tips p{
//     font-size: 1.1vw;
//   }

//   .tipsContainer{
//     height: 40vh;
//     border: 3px solid $blueL;
//     margin-bottom: 10px;
//     background-image: url(~@/assets/image/headerfooter/tipsbg.svg);
//     background-position: 100px -20px;
//     background-size: 120%;
//   }
//   .tipsContainer h3{
//   margin-top: 10px;
//   }
//    .socialMediaLink  a{
//      color: $white;
//    }


//    .mediaLink{
//      color: $white;
//   }
//   .socialMediaLink{
//     display: flex;
//     flex-flow: row wrap;

//   }

//   .socialMediaLink div{
//     width: 50%;
//   }
//   .mediaLink div{
//    text-align: start;
//    font-size: 1.1vw;
//    line-height: 1.8;
//    letter-spacing: 2px;
//   }
//   .mediaLink h3{
//     font-size: 2.1vw;
//     color: $blue;
//     text-align: center;

//   }
//   .mediaLink h4{
//     margin-top: 2px;
//     margin-bottom: 6px;
//     text-align: start;
//     font-size: 1.8vw;
//     color: $blue;
//   }
//   .socialMediaLink img{
//     width: 14%;
//     transform: translateY(5px);
//     // margin-top: 2px;
//     margin-right: 2px;
//   }
//   .socialMediaLink .twitterImg{
//     width: 12%;
//   }
//   img.facebookImg,
//   img.instagramImg{
//     transform: translateY(6px);
//     margin-right: 4px;
//     margin-top: 4px;
//   }

//   nav img{
//     cursor: pointer;
//   }

//   .noweight{
//     font-weight: 300;
//   }

//   .dec{
//     position: absolute;
//     margin-top: 10px;
//     width: 1.46%;
//     display: inline-block;
//   }
//   .dec-h4{
//     margin-left: 10%;
//   }
//   .dec-p{
//     margin-left:10%;
//     margin-top: -10px;
//     margin-bottom: 20px;
//   }
//   .dec-container{
//     margin-top: 10px;
//   }

body {
  background-color: black;
  padding-top: 50px;
  background-image: url(@/assets/image/headerfooter/bg1.svg);
}



#app {

  font-family: 'Oswald', 'Roboto Mono', 'Noto Serif JP', 'Noto Serif TC', serif;
}

.menu-nav,
.indexNav {
  position: fixed;
  top: 0px;
  margin-top: 0px;
  width: 100%;
  font-size: 12px;
  text-align: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.265);

  img {
    height: 26px;
    margin-top: 10px;
  }
  .menu .menu-nav img, .indexNav img{
    top: 0;
  }
  .menu-btn,
  .login-btn {
    position: absolute;
  }

  .menu-btn {
    left: 10px;
    // top: 10px;
    cursor: pointer;
  }

  .login-btn {
    position: absolute;
    right: 10px;
    top: 0;
    // top: 10px;
  }
}

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.86);
  font-size: 14px;
  width: 100%;
  nav{
    .login-btn-menu{
      position: absolute;
      top: 20px;
    }
  }
  .close-btn {
    position: absolute;
    left: 10px;
    // top: 20px;
    height: 26px;
    cursor: pointer;
  }

  .login-btn-menu {
    position: absolute;
    right: 10px;
    top:0px;
    height: 26px;

    .login-m {
      opacity: 0;
    }
  }

  .menu-content {
    display: flex;
    top: 120px;
    flex-flow: column wrap;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    .list {
      font-size: 24px;
      width: 90%;
      margin: 10px auto 0px auto;

      li {
        margin-top: 10px;
        padding: 2px 0 2px 0;

        a {
          color: $white;
        }
      }

      li:nth-child(2) a,
      li:nth-child(3) a{
        color: $blueL;
      }
    }

    .mediaLink {
      margin: 40px auto 0px auto;
      font-size: 14px;
      color: $white;
      line-height: 1.5;
      width: 90%;

      h3 {
        color: $blueL;
        font-size: 20px;
      }
    }

    .socialMediaLink {
      display: flex;
      flex-flow: row wrap;
      width: 90%;

      a {
        color: $white;
      }

      .twitter,
      .facebook,
      .instagram,
      .youtube {
        width: 50%;

        img {
          height: 14px;
          vertical-align: text-bottom;
          margin-right: 2px;
        }
      }

      // .youtube img{
      //   display: block;
      //   width: 14px;
      //   height: 12px;
      // }

    }

    h4 {
      margin-top: 20px;
      margin-bottom: 5px;
      font-size: 20px;
      color: $blueL;
    }

    .dec-container {
      margin-top: 20px;

      .subus {
        display: flex;
        flex-flow: row nowrap;
      }

      .subus-contain {
        margin-left: 10px;
        display: flex;
        flex-flow: column wrap;
      }

      .btn-container {
        margin-top: 3px;
        margin-bottom: 30px;
        height: 38px;
        background-image: url(~@/assets/image/headerfooter/btn.svg);
        background-repeat: no-repeat;
      }

      .btn-p {
        margin-left: 20px;
        position: relative;
        padding: auto;
        background-repeat: no-repeat;
        width: 240px;
        height: 40px;
        z-index: 1;
        display: flex;
        justify-content: left;
        align-items: center;

        img {
          width: 16px;
          margin: 0 20px 0 10px;
        }

      }

      .dec-h4 {
        margin-top: 4px;
      }
    }

  }
}






.footer{
  display: flex;

  width: 100%;
  background-color: $blackBG;
  height: 200px;
  position: relative;
  bottom: 0px;
  left: 0;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  z-index: -1;
}

.footer-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
  margin-bottom: 14px;
  letter-spacing: 3px;
  z-index: 2;
  flex-flow: column wrap;
  align-items: center;
}

.footer-content-info{
  color: $white;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
}

.footer-content a{
  display: block;
  width: 50%;
  color: $white;
  // margin: 0 5% 0 5%;
  font-weight: 400!important;
  cursor: pointer;
  margin-top: 10px;
}
.footer-content a:hover{
  color: $blueL;
}
  .Social-Media{
  color: $white;
  font-weight: 200;
}

@media screen and (min-width: 450px) {
  .footer{
    height: 140px;
    position: relative;
  }
  
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    margin-bottom: 14px;
    letter-spacing: 3px;
    z-index: 2;
  
    flex-flow: row wrap;
    align-items: center;
  }
  
  .footer-content-info{
    color: $white;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .footer-content a{
    display: inline;
    width: 50%;
    color: $white;
    // margin: 0 5% 0 5%;
    font-weight: 400!important;
    cursor: pointer;
    margin-top: 10px;
  }
    .Social-Media{
    color: $white;
    font-weight: 200;
  }
}


@media screen and (min-width: 580px) {
  .menu {
    .menu-content {
      .socialMediaLink {
        .twitter,
        .facebook,
        .instagram,
        .youtube {
          width: 25%;
        }
      }
    }
  } 
}


@media screen and (min-width: 768px) {
  .menu-nav,
  .indexNav{
    // top: -15px;
    margin-top: -10px;
    img{
      height: 70px;
      width: 50px;
    }
    img.login{
      margin-top: 16px;
    }
    .indexLogo{
      width: 70px;

    }
  }
  .menu {
    .close-btn{
      height: 70px;
      width: 50px;
    }
    .menu-content{
      max-width: 1200px;
      flex-flow: row nowrap;
      width: 90%;
      margin: auto;
      .socialMediaLink {
        .twitter,
        .facebook,
        .instagram,
        .youtube {
          width: 0px;
        }
      }
      .list{
        margin-top: 0px;
        font-size: 48px;
        li {
            font-size: 2.9vw;
            text-align: start;
            margin-bottom: 1.7vw;
            font-weight: 600;
          }
      }
      .mediaLink{
        max-width: 360px;
        margin: 10px 10% 0 auto;
        .tipsContainer{
          width: 100%;
          margin: auto;
          border: 3px solid $blue;
          padding: 4%;
          background-image: url(~@/assets/image/headerfooter/tipsbg1.svg);
          h3{
            text-align: center;
            margin-bottom: 20px;
            font-size: 30px;
          }
          .tips p{
                font-size: 1.3vw;
                letter-spacing: 1px;
              }
          
        }
        h4{
          margin: 16px auto 10px auto;
          font-size: 28px;
        }
        .socialMediaLink {
          .twitter,
          .facebook,
          .instagram,
          .youtube {
            width: 50%;
            font-size: 14px;
            margin-bottom: 10px;
          }
          h4.dec-h4{
            margin-left:-100px;
          }
        }
      } 
      .dec-container{
        h4{
          margin-left: 0;
          margin-bottom: 3px;
        }
        .dec{
          width: 5%;
          height: 90px;
        }
        .subus-contain{
          margin-top: -100ox;
        }
        
      }
      .dec-container .btn-container p{
        margin-left: 30px;
      }
    }
    .menu-content .dec-container .btn-container{
      margin-top: -10px;
      cursor: pointer;
    }
  } 
  .menu {
    .menu-content {
      .socialMediaLink {
        .twitter img,
        .facebook img,
        .instagram img,
        .youtube img {
          height: 24px;
          margin-top: 2px;
        }
      }
    }
  }
  .menu .menu-content .dec-container .subus{
    margin-top: -20px;
  }
.footer{
  width: 100%;
  background-color: $blackBG;
  height: 120px;
  position: relative;
  bottom: 0px;
  left: 0;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  z-index: -1;
}

.footer-content {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 16px;
  margin-bottom: 24px;
  letter-spacing: 3px;
  z-index: 2;


}

.footer-content-info {
  color: $white;
  font-weight: 600;
  letter-spacing: 3px;
}
.menu-p1
{
  margin-top: -15px;
}
.menu-p2{
  margin-top: -8px;
}

}
.d-order{
  bottom: 30px;
  right: 20px;
  width: 80x;
  height: 80px;
  position: fixed;
}



