// 建立完成後不更動 更動之前要跟大家講
@mixin wh($width, $height) {
    width: $width;
    height: $height;
  }
// wh  width, height
// 引入方法
// .element {
//     @include wh(125px, 50px);
//   }

@mixin marginLT($left, $top) {
    margin-left: $left;
    margin-top: $top;
  }
//   .element {
//     @include marginLT(10px, 20px);
//   }

@mixin marginRT($right, $top) {
    margin-right: $right;
    margin-top: $top;
  }
//   .element {
//     @include marginLT(10px, 20px);
//   }

@mixin marginBL($bottom, $left) {
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin marginBR($bottom, $right) {
  margin-bottom: $bottom;
  margin-right: $right;
}
//========== RWD ================
// 你從桌機開始切用這個
@mixin padBS{    
  @media(max-width:768px){
    @content;
  }
}
@mixin mobileBS{
  @media(max-width:375px){
    @content;
  }
}
// 你從手機開始切用這個
@mixin padSB{
  @media(min-width:768px){
    @content;
  }
}
@mixin mobileSB{
  @media(min-width:375px){
    @content;
  }
}
//使用方法
// .box{
//   background: black;
//   @include padBS{
//     background:blue;
//   }
//  }  